rice/db/impex/server/bootstrap/src/main/resources/data.dtd

<!ELEMENT dataset (
    KRAD_MSG_T|
    KRCR_CMPNT_SET_T|
    KRCR_CMPNT_T|
    KRCR_DRVD_CMPNT_T|
    KRCR_NMSPC_T|
    KRCR_PARM_T|
    KRCR_PARM_TYP_T|
    KRCR_STYLE_T|
    KREN_CHNL_PRODCR_T|
    KREN_CHNL_SUBSCRP_T|
    KREN_CHNL_T|
    KREN_CNTNT_TYP_T|
    KREN_MSG_DELIV_T|
    KREN_MSG_T|
    KREN_NTFCTN_MSG_DELIV_T|
    KREN_NTFCTN_T|
    KREN_PRIO_T|
    KREN_PRODCR_T|
    KREN_RECIP_DELIV_T|
    KREN_RECIP_LIST_T|
    KREN_RECIP_PREFS_T|
    KREN_RECIP_T|
    KREN_RVWER_T|
    KREN_SNDR_T|
    KREW_ACTN_ITM_T|
    KREW_ACTN_RQST_T|
    KREW_ACTN_TKN_T|
    KREW_APP_DOC_STAT_TRAN_T|
    KREW_ATTR_DEFN_T|
    KREW_ATT_T|
    KREW_DLGN_RSP_T|
    KREW_DOC_HDR_CNTNT_T|
    KREW_DOC_HDR_EXT_DT_T|
    KREW_DOC_HDR_EXT_FLT_T|
    KREW_DOC_HDR_EXT_LONG_T|
    KREW_DOC_HDR_EXT_T|
    KREW_DOC_HDR_T|
    KREW_DOC_LNK_T|
    KREW_DOC_NTE_T|
    KREW_DOC_TYP_APP_DOC_STAT_T|
    KREW_DOC_TYP_APP_STAT_CAT_T|
    KREW_DOC_TYP_ATTR_T|
    KREW_DOC_TYP_PLCY_RELN_T|
    KREW_DOC_TYP_PROC_T|
    KREW_DOC_TYP_T|
    KREW_EDL_ASSCTN_T|
    KREW_EDL_DEF_T|
    KREW_EDL_DMP_T|
    KREW_EDL_FLD_DMP_T|
    KREW_INIT_RTE_NODE_INSTN_T|
    KREW_OUT_BOX_ITM_T|
    KREW_PPL_FLW_ATTR_T|
    KREW_PPL_FLW_DLGT_T|
    KREW_PPL_FLW_MBR_T|
    KREW_PPL_FLW_T|
    KREW_RTE_BRCH_PROTO_T|
    KREW_RTE_BRCH_ST_T|
    KREW_RTE_BRCH_T|
    KREW_RTE_NODE_CFG_PARM_T|
    KREW_RTE_NODE_INSTN_LNK_T|
    KREW_RTE_NODE_INSTN_ST_T|
    KREW_RTE_NODE_INSTN_T|
    KREW_RTE_NODE_LNK_T|
    KREW_RTE_NODE_T|
    KREW_RULE_ATTR_T|
    KREW_RULE_EXPR_T|
    KREW_RULE_EXT_T|
    KREW_RULE_EXT_VAL_T|
    KREW_RULE_RSP_T|
    KREW_RULE_T|
    KREW_RULE_TMPL_ATTR_T|
    KREW_RULE_TMPL_OPTN_T|
    KREW_RULE_TMPL_T|
    KREW_TYP_ATTR_T|
    KREW_TYP_T|
    KREW_USR_OPTN_T|
    KRIM_ADDR_TYP_T|
    KRIM_AFLTN_TYP_T|
    KRIM_ATTR_DEFN_T|
    KRIM_CTZNSHP_STAT_T|
    KRIM_DLGN_MBR_ATTR_DATA_T|
    KRIM_DLGN_MBR_T|
    KRIM_DLGN_T|
    KRIM_EMAIL_TYP_T|
    KRIM_EMP_STAT_T|
    KRIM_EMP_TYP_T|
    KRIM_ENTITY_ADDR_T|
    KRIM_ENTITY_AFLTN_T|
    KRIM_ENTITY_BIO_T|
    KRIM_ENTITY_CACHE_T|
    KRIM_ENTITY_CTZNSHP_T|
    KRIM_ENTITY_EMAIL_T|
    KRIM_ENTITY_EMP_INFO_T|
    KRIM_ENTITY_ENT_TYP_T|
    KRIM_ENTITY_ETHNIC_T|
    KRIM_ENTITY_EXT_ID_T|
    KRIM_ENTITY_NM_T|
    KRIM_ENTITY_PHONE_T|
    KRIM_ENTITY_PRIV_PREF_T|
    KRIM_ENTITY_RESIDENCY_T|
    KRIM_ENTITY_T|
    KRIM_ENTITY_VISA_T|
    KRIM_ENT_NM_TYP_T|
    KRIM_ENT_TYP_T|
    KRIM_EXT_ID_TYP_T|
    KRIM_GRP_ATTR_DATA_T|
    KRIM_GRP_DOCUMENT_T|
    KRIM_GRP_MBR_T|
    KRIM_GRP_T|
    KRIM_PERM_ATTR_DATA_T|
    KRIM_PERM_T|
    KRIM_PERM_TMPL_T|
    KRIM_PERSON_DOCUMENT_T|
    KRIM_PHONE_TYP_T|
    KRIM_PND_ADDR_MT|
    KRIM_PND_AFLTN_MT|
    KRIM_PND_CTZNSHP_MT|
    KRIM_PND_DLGN_MBR_ATTR_DATA_T|
    KRIM_PND_DLGN_MBR_T|
    KRIM_PND_DLGN_T|
    KRIM_PND_EMAIL_MT|
    KRIM_PND_EMP_INFO_MT|
    KRIM_PND_GRP_ATTR_DATA_T|
    KRIM_PND_GRP_MBR_T|
    KRIM_PND_GRP_PRNCPL_MT|
    KRIM_PND_NM_MT|
    KRIM_PND_PHONE_MT|
    KRIM_PND_PRIV_PREF_MT|
    KRIM_PND_ROLE_MBR_ATTR_DATA_MT|
    KRIM_PND_ROLE_MBR_MT|
    KRIM_PND_ROLE_MT|
    KRIM_PND_ROLE_PERM_T|
    KRIM_PND_ROLE_RSP_ACTN_MT|
    KRIM_PND_ROLE_RSP_T|
    KRIM_PRNCPL_T|
    KRIM_ROLE_DOCUMENT_T|
    KRIM_ROLE_MBR_ATTR_DATA_T|
    KRIM_ROLE_MBR_T|
    KRIM_ROLE_PERM_T|
    KRIM_ROLE_RSP_ACTN_T|
    KRIM_ROLE_RSP_T|
    KRIM_ROLE_T|
    KRIM_RSP_ATTR_DATA_T|
    KRIM_RSP_T|
    KRIM_RSP_TMPL_T|
    KRIM_TYP_ATTR_T|
    KRIM_TYP_T|
    KRLC_CMP_T|
    KRLC_CMP_TYP_T|
    KRLC_CNTRY_T|
    KRLC_CNTY_T|
    KRLC_PSTL_CD_T|
    KRLC_ST_T|
    KRMS_ACTN_ATTR_T|
    KRMS_ACTN_T|
    KRMS_AGENDA_ATTR_T|
    KRMS_AGENDA_ITM_T|
    KRMS_AGENDA_T|
    KRMS_ATTR_DEFN_T|
    KRMS_CMPND_PROP_PROPS_T|
    KRMS_CNTXT_ATTR_T|
    KRMS_CNTXT_T|
    KRMS_CNTXT_VLD_ACTN_TYP_T|
    KRMS_CNTXT_VLD_AGENDA_TYP_T|
    KRMS_CNTXT_VLD_FUNC_T|
    KRMS_CNTXT_VLD_RULE_TYP_T|
    KRMS_CNTXT_VLD_TERM_SPEC_T|
    KRMS_CTGRY_T|
    KRMS_FUNC_CTGRY_T|
    KRMS_FUNC_PARM_T|
    KRMS_FUNC_T|
    KRMS_NL_TMPL_ATTR_T|
    KRMS_NL_TMPL_T|
    KRMS_NL_USAGE_ATTR_T|
    KRMS_NL_USAGE_T|
    KRMS_PROP_PARM_T|
    KRMS_PROP_T|
    KRMS_REF_OBJ_KRMS_OBJ_T|
    KRMS_RULE_ATTR_T|
    KRMS_RULE_T|
    KRMS_TERM_PARM_T|
    KRMS_TERM_RSLVR_ATTR_T|
    KRMS_TERM_RSLVR_INPUT_SPEC_T|
    KRMS_TERM_RSLVR_PARM_SPEC_T|
    KRMS_TERM_RSLVR_T|
    KRMS_TERM_SPEC_CTGRY_T|
    KRMS_TERM_SPEC_T|
    KRMS_TERM_T|
    KRMS_TYP_ATTR_T|
    KRMS_TYP_RELN_T|
    KRMS_TYP_T|
    KRNS_ADHOC_RTE_ACTN_RECIP_T|
    KRNS_ATT_T|
    KRNS_DOC_HDR_T|
    KRNS_LOOKUP_RSLT_T|
    KRNS_LOOKUP_SEL_T|
    KRNS_MAINT_DOC_ATT_LST_T|
    KRNS_MAINT_DOC_ATT_T|
    KRNS_MAINT_DOC_T|
    KRNS_MAINT_LOCK_T|
    KRNS_NTE_T|
    KRNS_NTE_TYP_T|
    KRNS_PESSIMISTIC_LOCK_T|
    KRNS_SESN_DOC_T|
    KRSB_BAM_PARM_T|
    KRSB_BAM_T|
    KRSB_MSG_PYLD_T|
    KRSB_MSG_QUE_T|
    KRSB_QRTZ_BLOB_TRIGGERS|
    KRSB_QRTZ_CALENDARS|
    KRSB_QRTZ_CRON_TRIGGERS|
    KRSB_QRTZ_FIRED_TRIGGERS|
    KRSB_QRTZ_JOB_DETAILS|
    KRSB_QRTZ_JOB_LISTENERS|
    KRSB_QRTZ_LOCKS|
    KRSB_QRTZ_PAUSED_TRIGGER_GRPS|
    KRSB_QRTZ_SCHEDULER_STATE|
    KRSB_QRTZ_SIMPLE_TRIGGERS|
    KRSB_QRTZ_TRIGGERS|
    KRSB_QRTZ_TRIGGER_LISTENERS|
    KRSB_SVC_DEF_T|
    KRSB_SVC_DSCRPTR_T|
    TRVL_AUTH_DOC_T|
    TRVL_PER_DIEM_T|
    TRVL_TRIP_TYP_T)*>
<!ELEMENT KRAD_MSG_T EMPTY>
<!ATTLIST KRAD_MSG_T
    NMSPC_CD CDATA #IMPLIED
    CMPNT_CD CDATA #IMPLIED
    MSG_KEY CDATA #IMPLIED
    LOC CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    MSG_DESC CDATA #IMPLIED
    TXT CDATA #IMPLIED
>

<!ELEMENT KRCR_CMPNT_SET_T EMPTY>
<!ATTLIST KRCR_CMPNT_SET_T
    CMPNT_SET_ID CDATA #IMPLIED
    LAST_UPDT_TS CDATA #REQUIRED
    CHKSM CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRCR_CMPNT_T EMPTY>
<!ATTLIST KRCR_CMPNT_T
    NMSPC_CD CDATA #IMPLIED
    CMPNT_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
>

<!ELEMENT KRCR_DRVD_CMPNT_T EMPTY>
<!ATTLIST KRCR_DRVD_CMPNT_T
    NMSPC_CD CDATA #IMPLIED
    CMPNT_CD CDATA #IMPLIED
    NM CDATA #IMPLIED
    CMPNT_SET_ID CDATA #REQUIRED
>

<!ELEMENT KRCR_NMSPC_T EMPTY>
<!ATTLIST KRCR_NMSPC_T
    NMSPC_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
    APPL_ID CDATA #IMPLIED
>

<!ELEMENT KRCR_PARM_T EMPTY>
<!ATTLIST KRCR_PARM_T
    NMSPC_CD CDATA #IMPLIED
    CMPNT_CD CDATA #IMPLIED
    PARM_NM CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PARM_TYP_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
    PARM_DESC_TXT CDATA #IMPLIED
    EVAL_OPRTR_CD CDATA #IMPLIED
    APPL_ID CDATA #IMPLIED
>

<!ELEMENT KRCR_PARM_TYP_T EMPTY>
<!ATTLIST KRCR_PARM_TYP_T
    PARM_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
>

<!ELEMENT KRCR_STYLE_T EMPTY>
<!ATTLIST KRCR_STYLE_T
    STYLE_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    XML CDATA #REQUIRED
    ACTV_IND CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREN_CHNL_PRODCR_T EMPTY>
<!ATTLIST KREN_CHNL_PRODCR_T
    CHNL_ID CDATA #IMPLIED
    PRODCR_ID CDATA #IMPLIED
>

<!ELEMENT KREN_CHNL_SUBSCRP_T EMPTY>
<!ATTLIST KREN_CHNL_SUBSCRP_T
    CHNL_SUBSCRP_ID CDATA #IMPLIED
    CHNL_ID CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREN_CHNL_T EMPTY>
<!ATTLIST KREN_CHNL_T
    CHNL_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    DESC_TXT CDATA #REQUIRED
    SUBSCRB_IND CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_CNTNT_TYP_T EMPTY>
<!ATTLIST KREN_CNTNT_TYP_T
    CNTNT_TYP_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    CUR_IND CDATA #REQUIRED
    CNTNT_TYP_VER_NBR CDATA #REQUIRED
    DESC_TXT CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    XSD CDATA #REQUIRED
    XSL CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_MSG_DELIV_T EMPTY>
<!ATTLIST KREN_MSG_DELIV_T
    MSG_DELIV_ID CDATA #IMPLIED
    MSG_ID CDATA #REQUIRED
    TYP_NM CDATA #REQUIRED
    SYS_ID CDATA #IMPLIED
    STAT_CD CDATA #REQUIRED
    PROC_CNT CDATA #REQUIRED
    LOCKD_DTTM CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KREN_MSG_T EMPTY>
<!ATTLIST KREN_MSG_T
    MSG_ID CDATA #IMPLIED
    ORGN_ID CDATA #IMPLIED
    DELIV_TYP CDATA #REQUIRED
    CRTE_DTTM CDATA #REQUIRED
    TTL CDATA #IMPLIED
    CHNL CDATA #REQUIRED
    PRODCR CDATA #IMPLIED
    CNTNT CDATA #REQUIRED
    CNTNT_TYP CDATA #IMPLIED
    URL CDATA #IMPLIED
    RECIP_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KREN_NTFCTN_MSG_DELIV_T EMPTY>
<!ATTLIST KREN_NTFCTN_MSG_DELIV_T
    NTFCTN_MSG_DELIV_ID CDATA #IMPLIED
    NTFCTN_ID CDATA #REQUIRED
    RECIP_ID CDATA #REQUIRED
    STAT_CD CDATA #REQUIRED
    SYS_ID CDATA #IMPLIED
    LOCKD_DTTM CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_NTFCTN_T EMPTY>
<!ATTLIST KREN_NTFCTN_T
    NTFCTN_ID CDATA #IMPLIED
    DELIV_TYP CDATA #REQUIRED
    CRTE_DTTM CDATA #REQUIRED
    SND_DTTM CDATA #IMPLIED
    AUTO_RMV_DTTM CDATA #IMPLIED
    PRIO_ID CDATA #REQUIRED
    TTL CDATA #IMPLIED
    CNTNT CDATA #REQUIRED
    CNTNT_TYP_ID CDATA #REQUIRED
    CHNL_ID CDATA #REQUIRED
    PRODCR_ID CDATA #REQUIRED
    PROCESSING_FLAG CDATA #REQUIRED
    LOCKD_DTTM CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
    DOC_TYP_NM CDATA #IMPLIED
>

<!ELEMENT KREN_PRIO_T EMPTY>
<!ATTLIST KREN_PRIO_T
    PRIO_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    DESC_TXT CDATA #REQUIRED
    PRIO_ORD CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_PRODCR_T EMPTY>
<!ATTLIST KREN_PRODCR_T
    PRODCR_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    DESC_TXT CDATA #REQUIRED
    CNTCT_INFO CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_RECIP_DELIV_T EMPTY>
<!ATTLIST KREN_RECIP_DELIV_T
    RECIP_DELIV_ID CDATA #IMPLIED
    RECIP_ID CDATA #REQUIRED
    CHNL CDATA #REQUIRED
    NM CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KREN_RECIP_LIST_T EMPTY>
<!ATTLIST KREN_RECIP_LIST_T
    RECIP_LIST_ID CDATA #IMPLIED
    CHNL_ID CDATA #REQUIRED
    RECIP_TYP_CD CDATA #REQUIRED
    RECIP_ID CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREN_RECIP_PREFS_T EMPTY>
<!ATTLIST KREN_RECIP_PREFS_T
    RECIP_PREFS_ID CDATA #IMPLIED
    RECIP_ID CDATA #REQUIRED
    PROP CDATA #REQUIRED
    VAL CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KREN_RECIP_T EMPTY>
<!ATTLIST KREN_RECIP_T
    RECIP_ID CDATA #IMPLIED
    NTFCTN_ID CDATA #REQUIRED
    RECIP_TYP_CD CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREN_RVWER_T EMPTY>
<!ATTLIST KREN_RVWER_T
    RVWER_ID CDATA #IMPLIED
    CHNL_ID CDATA #REQUIRED
    TYP CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_SNDR_T EMPTY>
<!ATTLIST KREN_SNDR_T
    SNDR_ID CDATA #IMPLIED
    NTFCTN_ID CDATA #REQUIRED
    NM CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_ACTN_ITM_T EMPTY>
<!ATTLIST KREW_ACTN_ITM_T
    ACTN_ITM_ID CDATA #IMPLIED
    PRNCPL_ID CDATA #REQUIRED
    ASND_DT CDATA #REQUIRED
    RQST_CD CDATA #REQUIRED
    ACTN_RQST_ID CDATA #REQUIRED
    DOC_HDR_ID CDATA #REQUIRED
    ROLE_NM CDATA #IMPLIED
    DLGN_PRNCPL_ID CDATA #IMPLIED
    DOC_HDR_TTL CDATA #IMPLIED
    DOC_TYP_LBL CDATA #REQUIRED
    DOC_HDLR_URL CDATA #REQUIRED
    DOC_TYP_NM CDATA #REQUIRED
    RSP_ID CDATA #REQUIRED
    DLGN_TYP CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    DTYPE CDATA #IMPLIED
    GRP_ID CDATA #IMPLIED
    DLGN_GRP_ID CDATA #IMPLIED
    RQST_LBL CDATA #IMPLIED
>

<!ELEMENT KREW_ACTN_RQST_T EMPTY>
<!ATTLIST KREW_ACTN_RQST_T
    ACTN_RQST_ID CDATA #IMPLIED
    PARNT_ID CDATA #IMPLIED
    ACTN_RQST_CD CDATA #REQUIRED
    DOC_HDR_ID CDATA #REQUIRED
    RULE_ID CDATA #IMPLIED
    STAT_CD CDATA #REQUIRED
    RSP_ID CDATA #REQUIRED
    PRNCPL_ID CDATA #IMPLIED
    ROLE_NM CDATA #IMPLIED
    QUAL_ROLE_NM CDATA #IMPLIED
    QUAL_ROLE_NM_LBL_TXT CDATA #IMPLIED
    RECIP_TYP_CD CDATA #IMPLIED
    PRIO_NBR CDATA #REQUIRED
    RTE_TYP_NM CDATA #IMPLIED
    RTE_LVL_NBR CDATA #REQUIRED
    RTE_NODE_INSTN_ID CDATA #IMPLIED
    ACTN_TKN_ID CDATA #IMPLIED
    DOC_VER_NBR CDATA #REQUIRED
    CRTE_DT CDATA #REQUIRED
    RSP_DESC_TXT CDATA #IMPLIED
    FRC_ACTN CDATA #IMPLIED
    ACTN_RQST_ANNOTN_TXT CDATA #IMPLIED
    DLGN_TYP CDATA #IMPLIED
    APPR_PLCY CDATA #IMPLIED
    CUR_IND CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    GRP_ID CDATA #IMPLIED
    RQST_LBL CDATA #IMPLIED
>

<!ELEMENT KREW_ACTN_TKN_T EMPTY>
<!ATTLIST KREW_ACTN_TKN_T
    ACTN_TKN_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    DLGTR_PRNCPL_ID CDATA #IMPLIED
    ACTN_CD CDATA #REQUIRED
    ACTN_DT CDATA #REQUIRED
    DOC_VER_NBR CDATA #REQUIRED
    ANNOTN CDATA #IMPLIED
    CUR_IND CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    DLGTR_GRP_ID CDATA #IMPLIED
>

<!ELEMENT KREW_APP_DOC_STAT_TRAN_T EMPTY>
<!ATTLIST KREW_APP_DOC_STAT_TRAN_T
    APP_DOC_STAT_TRAN_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #IMPLIED
    APP_DOC_STAT_FROM CDATA #IMPLIED
    APP_DOC_STAT_TO CDATA #IMPLIED
    STAT_TRANS_DATE CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_ATTR_DEFN_T EMPTY>
<!ATTLIST KREW_ATTR_DEFN_T
    ATTR_DEFN_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    LBL CDATA #IMPLIED
    ACTV CDATA #REQUIRED
    CMPNT_NM CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
>

<!ELEMENT KREW_ATT_T EMPTY>
<!ATTLIST KREW_ATT_T
    ATTACHMENT_ID CDATA #IMPLIED
    NTE_ID CDATA #IMPLIED
    FILE_NM CDATA #REQUIRED
    FILE_LOC CDATA #REQUIRED
    MIME_TYP CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_DLGN_RSP_T EMPTY>
<!ATTLIST KREW_DLGN_RSP_T
    DLGN_RULE_ID CDATA #IMPLIED
    RSP_ID CDATA #REQUIRED
    DLGN_RULE_BASE_VAL_ID CDATA #REQUIRED
    DLGN_TYP CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_DOC_HDR_CNTNT_T EMPTY>
<!ATTLIST KREW_DOC_HDR_CNTNT_T
    DOC_HDR_ID CDATA #IMPLIED
    DOC_CNTNT_TXT CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_HDR_EXT_DT_T EMPTY>
<!ATTLIST KREW_DOC_HDR_EXT_DT_T
    DOC_HDR_EXT_DT_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    KEY_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_HDR_EXT_FLT_T EMPTY>
<!ATTLIST KREW_DOC_HDR_EXT_FLT_T
    DOC_HDR_EXT_FLT_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    KEY_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_HDR_EXT_LONG_T EMPTY>
<!ATTLIST KREW_DOC_HDR_EXT_LONG_T
    DOC_HDR_EXT_LONG_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    KEY_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_HDR_EXT_T EMPTY>
<!ATTLIST KREW_DOC_HDR_EXT_T
    DOC_HDR_EXT_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    KEY_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_HDR_T EMPTY>
<!ATTLIST KREW_DOC_HDR_T
    DOC_HDR_ID CDATA #IMPLIED
    DOC_TYP_ID CDATA #IMPLIED
    DOC_HDR_STAT_CD CDATA #REQUIRED
    RTE_LVL CDATA #REQUIRED
    STAT_MDFN_DT CDATA #REQUIRED
    CRTE_DT CDATA #REQUIRED
    APRV_DT CDATA #IMPLIED
    FNL_DT CDATA #IMPLIED
    RTE_STAT_MDFN_DT CDATA #IMPLIED
    TTL CDATA #IMPLIED
    APP_DOC_ID CDATA #IMPLIED
    DOC_VER_NBR CDATA #REQUIRED
    INITR_PRNCPL_ID CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
    RTE_PRNCPL_ID CDATA #IMPLIED
    DTYPE CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    APP_DOC_STAT CDATA #IMPLIED
    APP_DOC_STAT_MDFN_DT CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_LNK_T EMPTY>
<!ATTLIST KREW_DOC_LNK_T
    DOC_LNK_ID CDATA #IMPLIED
    ORGN_DOC_ID CDATA #REQUIRED
    DEST_DOC_ID CDATA #REQUIRED
>

<!ELEMENT KREW_DOC_NTE_T EMPTY>
<!ATTLIST KREW_DOC_NTE_T
    DOC_NTE_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    AUTH_PRNCPL_ID CDATA #REQUIRED
    CRT_DT CDATA #REQUIRED
    TXT CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_TYP_APP_DOC_STAT_T EMPTY>
<!ATTLIST KREW_DOC_TYP_APP_DOC_STAT_T
    DOC_TYP_ID CDATA #IMPLIED
    DOC_STAT_NM CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    CAT_NM CDATA #IMPLIED
    SEQ_NO CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_TYP_APP_STAT_CAT_T EMPTY>
<!ATTLIST KREW_DOC_TYP_APP_STAT_CAT_T
    DOC_TYP_ID CDATA #IMPLIED
    CAT_NM CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_DOC_TYP_ATTR_T EMPTY>
<!ATTLIST KREW_DOC_TYP_ATTR_T
    DOC_TYP_ATTRIB_ID CDATA #IMPLIED
    DOC_TYP_ID CDATA #REQUIRED
    RULE_ATTR_ID CDATA #REQUIRED
    ORD_INDX CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_TYP_PLCY_RELN_T EMPTY>
<!ATTLIST KREW_DOC_TYP_PLCY_RELN_T
    DOC_TYP_ID CDATA #IMPLIED
    DOC_PLCY_NM CDATA #IMPLIED
    PLCY_NM CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    PLCY_VAL CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_TYP_PROC_T EMPTY>
<!ATTLIST KREW_DOC_TYP_PROC_T
    DOC_TYP_PROC_ID CDATA #IMPLIED
    DOC_TYP_ID CDATA #REQUIRED
    INIT_RTE_NODE_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    INIT_IND CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_TYP_T EMPTY>
<!ATTLIST KREW_DOC_TYP_T
    DOC_TYP_ID CDATA #IMPLIED
    PARNT_ID CDATA #IMPLIED
    DOC_TYP_NM CDATA #IMPLIED
    DOC_TYP_VER_NBR CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    CUR_IND CDATA #IMPLIED
    LBL CDATA #REQUIRED
    PREV_DOC_TYP_VER_NBR CDATA #IMPLIED
    DOC_TYP_DESC CDATA #IMPLIED
    DOC_HDLR_URL CDATA #IMPLIED
    POST_PRCSR CDATA #IMPLIED
    JNDI_URL CDATA #IMPLIED
    BLNKT_APPR_PLCY CDATA #IMPLIED
    ADV_DOC_SRCH_URL CDATA #IMPLIED
    RTE_VER_NBR CDATA #IMPLIED
    NOTIFY_ADDR CDATA #IMPLIED
    APPL_ID CDATA #IMPLIED
    EMAIL_XSL CDATA #IMPLIED
    SEC_XML CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    BLNKT_APPR_GRP_ID CDATA #IMPLIED
    RPT_GRP_ID CDATA #IMPLIED
    GRP_ID CDATA #IMPLIED
    HELP_DEF_URL CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    DOC_SEARCH_HELP_URL CDATA #IMPLIED
    DOC_HDR_ID CDATA #IMPLIED
    AUTHORIZER CDATA #IMPLIED
>

<!ELEMENT KREW_EDL_ASSCTN_T EMPTY>
<!ATTLIST KREW_EDL_ASSCTN_T
    EDOCLT_ASSOC_ID CDATA #IMPLIED
    DOC_TYP_NM CDATA #REQUIRED
    EDL_DEF_NM CDATA #IMPLIED
    STYLE_NM CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_EDL_DEF_T EMPTY>
<!ATTLIST KREW_EDL_DEF_T
    EDOCLT_DEF_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    XML CDATA #REQUIRED
    ACTV_IND CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_EDL_DMP_T EMPTY>
<!ATTLIST KREW_EDL_DMP_T
    DOC_HDR_ID CDATA #IMPLIED
    DOC_TYP_NM CDATA #REQUIRED
    DOC_HDR_STAT_CD CDATA #REQUIRED
    DOC_HDR_MDFN_DT CDATA #REQUIRED
    DOC_HDR_CRTE_DT CDATA #REQUIRED
    DOC_HDR_TTL CDATA #IMPLIED
    DOC_HDR_INITR_PRNCPL_ID CDATA #REQUIRED
    CRNT_NODE_NM CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_EDL_FLD_DMP_T EMPTY>
<!ATTLIST KREW_EDL_FLD_DMP_T
    EDL_FIELD_DMP_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    FLD_NM CDATA #REQUIRED
    FLD_VAL CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_INIT_RTE_NODE_INSTN_T EMPTY>
<!ATTLIST KREW_INIT_RTE_NODE_INSTN_T
    DOC_HDR_ID CDATA #IMPLIED
    RTE_NODE_INSTN_ID CDATA #IMPLIED
>

<!ELEMENT KREW_OUT_BOX_ITM_T EMPTY>
<!ATTLIST KREW_OUT_BOX_ITM_T
    ACTN_ITM_ID CDATA #IMPLIED
    PRNCPL_ID CDATA #REQUIRED
    ASND_DT CDATA #REQUIRED
    RQST_CD CDATA #REQUIRED
    ACTN_RQST_ID CDATA #REQUIRED
    DOC_HDR_ID CDATA #REQUIRED
    ROLE_NM CDATA #IMPLIED
    DLGN_PRNCPL_ID CDATA #IMPLIED
    DOC_HDR_TTL CDATA #IMPLIED
    DOC_TYP_LBL CDATA #REQUIRED
    DOC_HDLR_URL CDATA #REQUIRED
    DOC_TYP_NM CDATA #REQUIRED
    RSP_ID CDATA #REQUIRED
    DLGN_TYP CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    GRP_ID CDATA #IMPLIED
    DLGN_GRP_ID CDATA #IMPLIED
    RQST_LBL CDATA #IMPLIED
>

<!ELEMENT KREW_PPL_FLW_ATTR_T EMPTY>
<!ATTLIST KREW_PPL_FLW_ATTR_T
    PPL_FLW_ATTR_ID CDATA #IMPLIED
    PPL_FLW_ID CDATA #REQUIRED
    ATTR_DEFN_ID CDATA #REQUIRED
    ATTR_VAL CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KREW_PPL_FLW_DLGT_T EMPTY>
<!ATTLIST KREW_PPL_FLW_DLGT_T
    PPL_FLW_DLGT_ID CDATA #IMPLIED
    PPL_FLW_MBR_ID CDATA #REQUIRED
    MBR_ID CDATA #REQUIRED
    MBR_TYP_CD CDATA #REQUIRED
    DLGN_TYP_CD CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ACTN_RQST_PLCY_CD CDATA #IMPLIED
    RSP_ID CDATA #REQUIRED
>

<!ELEMENT KREW_PPL_FLW_MBR_T EMPTY>
<!ATTLIST KREW_PPL_FLW_MBR_T
    PPL_FLW_MBR_ID CDATA #IMPLIED
    PPL_FLW_ID CDATA #REQUIRED
    MBR_TYP_CD CDATA #REQUIRED
    MBR_ID CDATA #REQUIRED
    PRIO CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    ACTN_RQST_PLCY_CD CDATA #IMPLIED
    RSP_ID CDATA #REQUIRED
>

<!ELEMENT KREW_PPL_FLW_T EMPTY>
<!ATTLIST KREW_PPL_FLW_T
    PPL_FLW_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    TYP_ID CDATA #IMPLIED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
>

<!ELEMENT KREW_RTE_BRCH_PROTO_T EMPTY>
<!ATTLIST KREW_RTE_BRCH_PROTO_T
    RTE_BRCH_PROTO_ID CDATA #IMPLIED
    BRCH_NM CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_RTE_BRCH_ST_T EMPTY>
<!ATTLIST KREW_RTE_BRCH_ST_T
    RTE_BRCH_ST_ID CDATA #IMPLIED
    RTE_BRCH_ID CDATA #REQUIRED
    KEY_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_RTE_BRCH_T EMPTY>
<!ATTLIST KREW_RTE_BRCH_T
    RTE_BRCH_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    PARNT_ID CDATA #IMPLIED
    INIT_RTE_NODE_INSTN_ID CDATA #IMPLIED
    SPLT_RTE_NODE_INSTN_ID CDATA #IMPLIED
    JOIN_RTE_NODE_INSTN_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_RTE_NODE_CFG_PARM_T EMPTY>
<!ATTLIST KREW_RTE_NODE_CFG_PARM_T
    RTE_NODE_CFG_PARM_ID CDATA #IMPLIED
    RTE_NODE_ID CDATA #REQUIRED
    KEY_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
>

<!ELEMENT KREW_RTE_NODE_INSTN_LNK_T EMPTY>
<!ATTLIST KREW_RTE_NODE_INSTN_LNK_T
    FROM_RTE_NODE_INSTN_ID CDATA #IMPLIED
    TO_RTE_NODE_INSTN_ID CDATA #IMPLIED
>

<!ELEMENT KREW_RTE_NODE_INSTN_ST_T EMPTY>
<!ATTLIST KREW_RTE_NODE_INSTN_ST_T
    RTE_NODE_INSTN_ST_ID CDATA #IMPLIED
    RTE_NODE_INSTN_ID CDATA #REQUIRED
    KEY_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_RTE_NODE_INSTN_T EMPTY>
<!ATTLIST KREW_RTE_NODE_INSTN_T
    RTE_NODE_INSTN_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    RTE_NODE_ID CDATA #REQUIRED
    BRCH_ID CDATA #IMPLIED
    PROC_RTE_NODE_INSTN_ID CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
    CMPLT_IND CDATA #REQUIRED
    INIT_IND CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_RTE_NODE_LNK_T EMPTY>
<!ATTLIST KREW_RTE_NODE_LNK_T
    FROM_RTE_NODE_ID CDATA #IMPLIED
    TO_RTE_NODE_ID CDATA #IMPLIED
>

<!ELEMENT KREW_RTE_NODE_T EMPTY>
<!ATTLIST KREW_RTE_NODE_T
    RTE_NODE_ID CDATA #IMPLIED
    DOC_TYP_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    TYP CDATA #REQUIRED
    RTE_MTHD_NM CDATA #IMPLIED
    RTE_MTHD_CD CDATA #IMPLIED
    FNL_APRVR_IND CDATA #IMPLIED
    MNDTRY_RTE_IND CDATA #IMPLIED
    ACTVN_TYP CDATA #IMPLIED
    BRCH_PROTO_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    CONTENT_FRAGMENT CDATA #IMPLIED
    GRP_ID CDATA #IMPLIED
    NEXT_DOC_STAT CDATA #IMPLIED
>

<!ELEMENT KREW_RULE_ATTR_T EMPTY>
<!ATTLIST KREW_RULE_ATTR_T
    RULE_ATTR_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    LBL CDATA #REQUIRED
    RULE_ATTR_TYP_CD CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
    CLS_NM CDATA #IMPLIED
    XML CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    APPL_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_RULE_EXPR_T EMPTY>
<!ATTLIST KREW_RULE_EXPR_T
    RULE_EXPR_ID CDATA #IMPLIED
    TYP CDATA #REQUIRED
    RULE_EXPR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_RULE_EXT_T EMPTY>
<!ATTLIST KREW_RULE_EXT_T
    RULE_EXT_ID CDATA #IMPLIED
    RULE_TMPL_ATTR_ID CDATA #REQUIRED
    RULE_ID CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_RULE_EXT_VAL_T EMPTY>
<!ATTLIST KREW_RULE_EXT_VAL_T
    RULE_EXT_VAL_ID CDATA #IMPLIED
    RULE_EXT_ID CDATA #REQUIRED
    VAL CDATA #REQUIRED
    KEY_CD CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_RULE_RSP_T EMPTY>
<!ATTLIST KREW_RULE_RSP_T
    RULE_RSP_ID CDATA #IMPLIED
    RSP_ID CDATA #REQUIRED
    RULE_ID CDATA #REQUIRED
    PRIO CDATA #IMPLIED
    ACTN_RQST_CD CDATA #IMPLIED
    NM CDATA #IMPLIED
    TYP CDATA #IMPLIED
    APPR_PLCY CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_RULE_T EMPTY>
<!ATTLIST KREW_RULE_T
    RULE_ID CDATA #IMPLIED
    NM CDATA #IMPLIED
    RULE_TMPL_ID CDATA #IMPLIED
    RULE_EXPR_ID CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
    RULE_BASE_VAL_DESC CDATA #IMPLIED
    FRC_ACTN CDATA #REQUIRED
    DOC_TYP_NM CDATA #REQUIRED
    DOC_HDR_ID CDATA #IMPLIED
    TMPL_RULE_IND CDATA #IMPLIED
    FRM_DT CDATA #IMPLIED
    TO_DT CDATA #IMPLIED
    DACTVN_DT CDATA #IMPLIED
    CUR_IND CDATA #IMPLIED
    RULE_VER_NBR CDATA #IMPLIED
    DLGN_IND CDATA #IMPLIED
    PREV_VER_RULE_ID CDATA #IMPLIED
    ACTVN_DT CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_RULE_TMPL_ATTR_T EMPTY>
<!ATTLIST KREW_RULE_TMPL_ATTR_T
    RULE_TMPL_ATTR_ID CDATA #IMPLIED
    RULE_TMPL_ID CDATA #REQUIRED
    RULE_ATTR_ID CDATA #REQUIRED
    REQ_IND CDATA #REQUIRED
    ACTV_IND CDATA #REQUIRED
    DSPL_ORD CDATA #REQUIRED
    DFLT_VAL CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_RULE_TMPL_OPTN_T EMPTY>
<!ATTLIST KREW_RULE_TMPL_OPTN_T
    RULE_TMPL_OPTN_ID CDATA #IMPLIED
    RULE_TMPL_ID CDATA #IMPLIED
    KEY_CD CDATA #IMPLIED
    VAL CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_RULE_TMPL_T EMPTY>
<!ATTLIST KREW_RULE_TMPL_T
    RULE_TMPL_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    RULE_TMPL_DESC CDATA #IMPLIED
    DLGN_RULE_TMPL_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_TYP_ATTR_T EMPTY>
<!ATTLIST KREW_TYP_ATTR_T
    TYP_ATTR_ID CDATA #IMPLIED
    SEQ_NO CDATA #REQUIRED
    TYP_ID CDATA #REQUIRED
    ATTR_DEFN_ID CDATA #REQUIRED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KREW_TYP_T EMPTY>
<!ATTLIST KREW_TYP_T
    TYP_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    SRVC_NM CDATA #IMPLIED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KREW_USR_OPTN_T EMPTY>
<!ATTLIST KREW_USR_OPTN_T
    PRNCPL_ID CDATA #IMPLIED
    PRSN_OPTN_ID CDATA #IMPLIED
    VAL CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KRIM_ADDR_TYP_T EMPTY>
<!ATTLIST KRIM_ADDR_TYP_T
    ADDR_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    DISPLAY_SORT_CD CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_AFLTN_TYP_T EMPTY>
<!ATTLIST KRIM_AFLTN_TYP_T
    AFLTN_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    EMP_AFLTN_TYP_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    DISPLAY_SORT_CD CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ATTR_DEFN_T EMPTY>
<!ATTLIST KRIM_ATTR_DEFN_T
    KIM_ATTR_DEFN_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    LBL CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    NMSPC_CD CDATA #IMPLIED
    CMPNT_NM CDATA #IMPLIED
>

<!ELEMENT KRIM_CTZNSHP_STAT_T EMPTY>
<!ATTLIST KRIM_CTZNSHP_STAT_T
    CTZNSHP_STAT_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    DISPLAY_SORT_CD CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_DLGN_MBR_ATTR_DATA_T EMPTY>
<!ATTLIST KRIM_DLGN_MBR_ATTR_DATA_T
    ATTR_DATA_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DLGN_MBR_ID CDATA #IMPLIED
    KIM_TYP_ID CDATA #REQUIRED
    KIM_ATTR_DEFN_ID CDATA #IMPLIED
    ATTR_VAL CDATA #IMPLIED
>

<!ELEMENT KRIM_DLGN_MBR_T EMPTY>
<!ATTLIST KRIM_DLGN_MBR_T
    DLGN_MBR_ID CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
    DLGN_ID CDATA #IMPLIED
    MBR_ID CDATA #IMPLIED
    MBR_TYP_CD CDATA #IMPLIED
    ACTV_FRM_DT CDATA #IMPLIED
    ACTV_TO_DT CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
    ROLE_MBR_ID CDATA #IMPLIED
>

<!ELEMENT KRIM_DLGN_T EMPTY>
<!ATTLIST KRIM_DLGN_T
    DLGN_ID CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
    ROLE_ID CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    KIM_TYP_ID CDATA #REQUIRED
    DLGN_TYP_CD CDATA #IMPLIED
>

<!ELEMENT KRIM_EMAIL_TYP_T EMPTY>
<!ATTLIST KRIM_EMAIL_TYP_T
    EMAIL_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    DISPLAY_SORT_CD CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_EMP_STAT_T EMPTY>
<!ATTLIST KRIM_EMP_STAT_T
    EMP_STAT_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    DISPLAY_SORT_CD CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_EMP_TYP_T EMPTY>
<!ATTLIST KRIM_EMP_TYP_T
    EMP_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    DISPLAY_SORT_CD CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_ADDR_T EMPTY>
<!ATTLIST KRIM_ENTITY_ADDR_T
    ENTITY_ADDR_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ENTITY_ID CDATA #IMPLIED
    ENT_TYP_CD CDATA #IMPLIED
    ADDR_TYP_CD CDATA #IMPLIED
    ADDR_LINE_1 CDATA #IMPLIED
    ADDR_LINE_2 CDATA #IMPLIED
    ADDR_LINE_3 CDATA #IMPLIED
    CITY CDATA #IMPLIED
    STATE_PVC_CD CDATA #IMPLIED
    POSTAL_CD CDATA #IMPLIED
    POSTAL_CNTRY_CD CDATA #IMPLIED
    DFLT_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
    ATTN_LINE CDATA #IMPLIED
    ADDR_FMT CDATA #IMPLIED
    MOD_DT CDATA #IMPLIED
    VALID_DT CDATA #IMPLIED
    VALID_IND CDATA #IMPLIED
    NOTE_MSG CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_AFLTN_T EMPTY>
<!ATTLIST KRIM_ENTITY_AFLTN_T
    ENTITY_AFLTN_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ENTITY_ID CDATA #IMPLIED
    AFLTN_TYP_CD CDATA #IMPLIED
    CAMPUS_CD CDATA #IMPLIED
    DFLT_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_BIO_T EMPTY>
<!ATTLIST KRIM_ENTITY_BIO_T
    ENTITY_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    BIRTH_DT CDATA #IMPLIED
    GNDR_CD CDATA #REQUIRED
    LAST_UPDT_DT CDATA #IMPLIED
    DECEASED_DT CDATA #IMPLIED
    MARITAL_STATUS CDATA #IMPLIED
    PRIM_LANG_CD CDATA #IMPLIED
    SEC_LANG_CD CDATA #IMPLIED
    BIRTH_CNTRY_CD CDATA #IMPLIED
    BIRTH_STATE_PVC_CD CDATA #IMPLIED
    BIRTH_CITY CDATA #IMPLIED
    GEO_ORIGIN CDATA #IMPLIED
    NOTE_MSG CDATA #IMPLIED
    GNDR_CHG_CD CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_CACHE_T EMPTY>
<!ATTLIST KRIM_ENTITY_CACHE_T
    ENTITY_ID CDATA #IMPLIED
    PRNCPL_ID CDATA #REQUIRED
    PRNCPL_NM CDATA #IMPLIED
    ENTITY_TYP_CD CDATA #IMPLIED
    FIRST_NM CDATA #IMPLIED
    MIDDLE_NM CDATA #IMPLIED
    LAST_NM CDATA #IMPLIED
    PRSN_NM CDATA #IMPLIED
    CAMPUS_CD CDATA #IMPLIED
    PRMRY_DEPT_CD CDATA #IMPLIED
    EMP_ID CDATA #IMPLIED
    LAST_UPDT_TS CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KRIM_ENTITY_CTZNSHP_T EMPTY>
<!ATTLIST KRIM_ENTITY_CTZNSHP_T
    ENTITY_CTZNSHP_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ENTITY_ID CDATA #IMPLIED
    POSTAL_CNTRY_CD CDATA #IMPLIED
    CTZNSHP_STAT_CD CDATA #IMPLIED
    STRT_DT CDATA #IMPLIED
    END_DT CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_EMAIL_T EMPTY>
<!ATTLIST KRIM_ENTITY_EMAIL_T
    ENTITY_EMAIL_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ENTITY_ID CDATA #IMPLIED
    ENT_TYP_CD CDATA #IMPLIED
    EMAIL_TYP_CD CDATA #IMPLIED
    EMAIL_ADDR CDATA #IMPLIED
    DFLT_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_EMP_INFO_T EMPTY>
<!ATTLIST KRIM_ENTITY_EMP_INFO_T
    ENTITY_EMP_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ENTITY_ID CDATA #IMPLIED
    ENTITY_AFLTN_ID CDATA #IMPLIED
    EMP_STAT_CD CDATA #IMPLIED
    EMP_TYP_CD CDATA #IMPLIED
    BASE_SLRY_AMT CDATA #IMPLIED
    PRMRY_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
    PRMRY_DEPT_CD CDATA #IMPLIED
    EMP_ID CDATA #IMPLIED
    EMP_REC_ID CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_ENT_TYP_T EMPTY>
<!ATTLIST KRIM_ENTITY_ENT_TYP_T
    ENT_TYP_CD CDATA #IMPLIED
    ENTITY_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ACTV_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_ETHNIC_T EMPTY>
<!ATTLIST KRIM_ENTITY_ETHNIC_T
    ID CDATA #IMPLIED
    ENTITY_ID CDATA #IMPLIED
    ETHNCTY_CD CDATA #IMPLIED
    SUB_ETHNCTY_CD CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KRIM_ENTITY_EXT_ID_T EMPTY>
<!ATTLIST KRIM_ENTITY_EXT_ID_T
    ENTITY_EXT_ID_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ENTITY_ID CDATA #IMPLIED
    EXT_ID_TYP_CD CDATA #IMPLIED
    EXT_ID CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_NM_T EMPTY>
<!ATTLIST KRIM_ENTITY_NM_T
    ENTITY_NM_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ENTITY_ID CDATA #IMPLIED
    NM_TYP_CD CDATA #IMPLIED
    FIRST_NM CDATA #IMPLIED
    MIDDLE_NM CDATA #IMPLIED
    LAST_NM CDATA #IMPLIED
    SUFFIX_NM CDATA #IMPLIED
    PREFIX_NM CDATA #IMPLIED
    DFLT_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
    TITLE_NM CDATA #IMPLIED
    NOTE_MSG CDATA #IMPLIED
    NM_CHNG_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_PHONE_T EMPTY>
<!ATTLIST KRIM_ENTITY_PHONE_T
    ENTITY_PHONE_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ENTITY_ID CDATA #IMPLIED
    ENT_TYP_CD CDATA #IMPLIED
    PHONE_TYP_CD CDATA #IMPLIED
    PHONE_NBR CDATA #IMPLIED
    PHONE_EXTN_NBR CDATA #IMPLIED
    POSTAL_CNTRY_CD CDATA #IMPLIED
    DFLT_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_PRIV_PREF_T EMPTY>
<!ATTLIST KRIM_ENTITY_PRIV_PREF_T
    ENTITY_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    SUPPRESS_NM_IND CDATA #IMPLIED
    SUPPRESS_EMAIL_IND CDATA #IMPLIED
    SUPPRESS_ADDR_IND CDATA #IMPLIED
    SUPPRESS_PHONE_IND CDATA #IMPLIED
    SUPPRESS_PRSNL_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_RESIDENCY_T EMPTY>
<!ATTLIST KRIM_ENTITY_RESIDENCY_T
    ID CDATA #IMPLIED
    ENTITY_ID CDATA #IMPLIED
    DETERMINATION_METHOD CDATA #IMPLIED
    IN_STATE CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KRIM_ENTITY_T EMPTY>
<!ATTLIST KRIM_ENTITY_T
    ENTITY_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ACTV_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ENTITY_VISA_T EMPTY>
<!ATTLIST KRIM_ENTITY_VISA_T
    ID CDATA #IMPLIED
    ENTITY_ID CDATA #IMPLIED
    VISA_TYPE_KEY CDATA #IMPLIED
    VISA_ENTRY CDATA #IMPLIED
    VISA_ID CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KRIM_ENT_NM_TYP_T EMPTY>
<!ATTLIST KRIM_ENT_NM_TYP_T
    ENT_NM_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    DISPLAY_SORT_CD CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ENT_TYP_T EMPTY>
<!ATTLIST KRIM_ENT_TYP_T
    ENT_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    DISPLAY_SORT_CD CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_EXT_ID_TYP_T EMPTY>
<!ATTLIST KRIM_EXT_ID_TYP_T
    EXT_ID_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ENCR_REQ_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    DISPLAY_SORT_CD CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_GRP_ATTR_DATA_T EMPTY>
<!ATTLIST KRIM_GRP_ATTR_DATA_T
    ATTR_DATA_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    GRP_ID CDATA #IMPLIED
    KIM_TYP_ID CDATA #REQUIRED
    KIM_ATTR_DEFN_ID CDATA #IMPLIED
    ATTR_VAL CDATA #IMPLIED
>

<!ELEMENT KRIM_GRP_DOCUMENT_T EMPTY>
<!ATTLIST KRIM_GRP_DOCUMENT_T
    FDOC_NBR CDATA #IMPLIED
    GRP_ID CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    KIM_TYP_ID CDATA #REQUIRED
    GRP_NMSPC CDATA #REQUIRED
    GRP_NM CDATA #IMPLIED
    GRP_DESC CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_GRP_MBR_T EMPTY>
<!ATTLIST KRIM_GRP_MBR_T
    GRP_MBR_ID CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
    GRP_ID CDATA #REQUIRED
    MBR_ID CDATA #REQUIRED
    MBR_TYP_CD CDATA #REQUIRED
    ACTV_FRM_DT CDATA #IMPLIED
    ACTV_TO_DT CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_GRP_T EMPTY>
<!ATTLIST KRIM_GRP_T
    GRP_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    GRP_NM CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    GRP_DESC CDATA #IMPLIED
    KIM_TYP_ID CDATA #REQUIRED
    ACTV_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_PERM_ATTR_DATA_T EMPTY>
<!ATTLIST KRIM_PERM_ATTR_DATA_T
    ATTR_DATA_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PERM_ID CDATA #IMPLIED
    KIM_TYP_ID CDATA #REQUIRED
    KIM_ATTR_DEFN_ID CDATA #IMPLIED
    ATTR_VAL CDATA #IMPLIED
>

<!ELEMENT KRIM_PERM_T EMPTY>
<!ATTLIST KRIM_PERM_T
    PERM_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PERM_TMPL_ID CDATA #IMPLIED
    NMSPC_CD CDATA #REQUIRED
    NM CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_PERM_TMPL_T EMPTY>
<!ATTLIST KRIM_PERM_TMPL_T
    PERM_TMPL_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    NM CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
    KIM_TYP_ID CDATA #REQUIRED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_PERSON_DOCUMENT_T EMPTY>
<!ATTLIST KRIM_PERSON_DOCUMENT_T
    FDOC_NBR CDATA #IMPLIED
    ENTITY_ID CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    PRNCPL_NM CDATA #REQUIRED
    PRNCPL_PSWD CDATA #IMPLIED
    UNIV_ID CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_PHONE_TYP_T EMPTY>
<!ATTLIST KRIM_PHONE_TYP_T
    PHONE_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PHONE_TYP_NM CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    DISPLAY_SORT_CD CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_ADDR_MT EMPTY>
<!ATTLIST KRIM_PND_ADDR_MT
    FDOC_NBR CDATA #IMPLIED
    ADDR_TYP_CD CDATA #IMPLIED
    ADDR_LINE_1 CDATA #IMPLIED
    ADDR_LINE_2 CDATA #IMPLIED
    ADDR_LINE_3 CDATA #IMPLIED
    CITY CDATA #IMPLIED
    STATE_PVC_CD CDATA #IMPLIED
    POSTAL_CD CDATA #IMPLIED
    POSTAL_CNTRY_CD CDATA #IMPLIED
    DISPLAY_SORT_CD CDATA #IMPLIED
    DFLT_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    ENTITY_ADDR_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    EDIT_FLAG CDATA #IMPLIED
    ATTN_LINE CDATA #IMPLIED
    ADDR_FMT CDATA #IMPLIED
    MOD_DT CDATA #IMPLIED
    VALID_DT CDATA #IMPLIED
    VALID_IND CDATA #IMPLIED
    NOTE_MSG CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_AFLTN_MT EMPTY>
<!ATTLIST KRIM_PND_AFLTN_MT
    FDOC_NBR CDATA #IMPLIED
    ENTITY_AFLTN_ID CDATA #IMPLIED
    AFLTN_TYP_CD CDATA #IMPLIED
    CAMPUS_CD CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
    DFLT_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRIM_PND_CTZNSHP_MT EMPTY>
<!ATTLIST KRIM_PND_CTZNSHP_MT
    FDOC_NBR CDATA #IMPLIED
    ENTITY_CTZNSHP_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    POSTAL_CNTRY_CD CDATA #IMPLIED
    CTZNSHP_STAT_CD CDATA #IMPLIED
    STRT_DT CDATA #IMPLIED
    END_DT CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_DLGN_MBR_ATTR_DATA_T EMPTY>
<!ATTLIST KRIM_PND_DLGN_MBR_ATTR_DATA_T
    FDOC_NBR CDATA #IMPLIED
    ATTR_DATA_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DLGN_MBR_ID CDATA #IMPLIED
    KIM_TYP_ID CDATA #IMPLIED
    KIM_ATTR_DEFN_ID CDATA #IMPLIED
    ATTR_VAL CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_DLGN_MBR_T EMPTY>
<!ATTLIST KRIM_PND_DLGN_MBR_T
    FDOC_NBR CDATA #IMPLIED
    DLGN_MBR_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DLGN_ID CDATA #REQUIRED
    MBR_ID CDATA #IMPLIED
    MBR_NM CDATA #IMPLIED
    MBR_TYP_CD CDATA #REQUIRED
    ACTV_IND CDATA #IMPLIED
    ACTV_FRM_DT CDATA #IMPLIED
    ACTV_TO_DT CDATA #IMPLIED
    ROLE_MBR_ID CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_DLGN_T EMPTY>
<!ATTLIST KRIM_PND_DLGN_T
    FDOC_NBR CDATA #IMPLIED
    DLGN_ID CDATA #IMPLIED
    ROLE_ID CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    KIM_TYP_ID CDATA #IMPLIED
    DLGN_TYP_CD CDATA #REQUIRED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_EMAIL_MT EMPTY>
<!ATTLIST KRIM_PND_EMAIL_MT
    FDOC_NBR CDATA #IMPLIED
    ENTITY_EMAIL_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ENT_TYP_CD CDATA #IMPLIED
    EMAIL_TYP_CD CDATA #IMPLIED
    EMAIL_ADDR CDATA #IMPLIED
    DFLT_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_EMP_INFO_MT EMPTY>
<!ATTLIST KRIM_PND_EMP_INFO_MT
    FDOC_NBR CDATA #IMPLIED
    PRMRY_DEPT_CD CDATA #IMPLIED
    ENTITY_EMP_ID CDATA #IMPLIED
    EMP_ID CDATA #IMPLIED
    EMP_REC_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ENTITY_AFLTN_ID CDATA #IMPLIED
    EMP_STAT_CD CDATA #IMPLIED
    EMP_TYP_CD CDATA #IMPLIED
    BASE_SLRY_AMT CDATA #IMPLIED
    PRMRY_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_GRP_ATTR_DATA_T EMPTY>
<!ATTLIST KRIM_PND_GRP_ATTR_DATA_T
    FDOC_NBR CDATA #IMPLIED
    ATTR_DATA_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    GRP_ID CDATA #IMPLIED
    KIM_TYP_ID CDATA #IMPLIED
    KIM_ATTR_DEFN_ID CDATA #IMPLIED
    ATTR_VAL CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_GRP_MBR_T EMPTY>
<!ATTLIST KRIM_PND_GRP_MBR_T
    FDOC_NBR CDATA #IMPLIED
    GRP_MBR_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    GRP_ID CDATA #REQUIRED
    MBR_ID CDATA #IMPLIED
    MBR_NM CDATA #IMPLIED
    MBR_TYP_CD CDATA #REQUIRED
    ACTV_FRM_DT CDATA #IMPLIED
    ACTV_TO_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_GRP_PRNCPL_MT EMPTY>
<!ATTLIST KRIM_PND_GRP_PRNCPL_MT
    GRP_MBR_ID CDATA #IMPLIED
    FDOC_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    GRP_ID CDATA #REQUIRED
    PRNCPL_ID CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    GRP_NM CDATA #REQUIRED
    GRP_TYPE CDATA #IMPLIED
    KIM_TYP_ID CDATA #IMPLIED
    NMSPC_CD CDATA #IMPLIED
    ACTV_FRM_DT CDATA #IMPLIED
    ACTV_TO_DT CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_NM_MT EMPTY>
<!ATTLIST KRIM_PND_NM_MT
    FDOC_NBR CDATA #IMPLIED
    ENTITY_NM_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM_TYP_CD CDATA #IMPLIED
    FIRST_NM CDATA #IMPLIED
    MIDDLE_NM CDATA #IMPLIED
    LAST_NM CDATA #IMPLIED
    SUFFIX_NM CDATA #IMPLIED
    PREFIX_NM CDATA #IMPLIED
    DFLT_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
    TITLE_NM CDATA #IMPLIED
    NOTE_MSG CDATA #IMPLIED
    NM_CHNG_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_PHONE_MT EMPTY>
<!ATTLIST KRIM_PND_PHONE_MT
    FDOC_NBR CDATA #IMPLIED
    ENTITY_PHONE_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ENT_TYP_CD CDATA #IMPLIED
    PHONE_TYP_CD CDATA #IMPLIED
    PHONE_NBR CDATA #IMPLIED
    PHONE_EXTN_NBR CDATA #IMPLIED
    POSTAL_CNTRY_CD CDATA #IMPLIED
    DFLT_IND CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_PRIV_PREF_MT EMPTY>
<!ATTLIST KRIM_PND_PRIV_PREF_MT
    FDOC_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    SUPPRESS_NM_IND CDATA #IMPLIED
    SUPPRESS_EMAIL_IND CDATA #IMPLIED
    SUPPRESS_ADDR_IND CDATA #IMPLIED
    SUPPRESS_PHONE_IND CDATA #IMPLIED
    SUPPRESS_PRSNL_IND CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_ROLE_MBR_ATTR_DATA_MT EMPTY>
<!ATTLIST KRIM_PND_ROLE_MBR_ATTR_DATA_MT
    FDOC_NBR CDATA #IMPLIED
    ATTR_DATA_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ROLE_MBR_ID CDATA #IMPLIED
    KIM_TYP_ID CDATA #IMPLIED
    KIM_ATTR_DEFN_ID CDATA #IMPLIED
    ATTR_VAL CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_ROLE_MBR_MT EMPTY>
<!ATTLIST KRIM_PND_ROLE_MBR_MT
    FDOC_NBR CDATA #IMPLIED
    ROLE_MBR_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ROLE_ID CDATA #REQUIRED
    MBR_ID CDATA #IMPLIED
    MBR_TYP_CD CDATA #REQUIRED
    ACTV_IND CDATA #IMPLIED
    ACTV_FRM_DT CDATA #IMPLIED
    ACTV_TO_DT CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_ROLE_MT EMPTY>
<!ATTLIST KRIM_PND_ROLE_MT
    FDOC_NBR CDATA #IMPLIED
    ROLE_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ROLE_NM CDATA #REQUIRED
    KIM_TYP_ID CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    NMSPC_CD CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_ROLE_PERM_T EMPTY>
<!ATTLIST KRIM_PND_ROLE_PERM_T
    FDOC_NBR CDATA #IMPLIED
    ROLE_PERM_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ROLE_ID CDATA #REQUIRED
    PERM_ID CDATA #REQUIRED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_ROLE_RSP_ACTN_MT EMPTY>
<!ATTLIST KRIM_PND_ROLE_RSP_ACTN_MT
    ROLE_RSP_ACTN_ID CDATA #IMPLIED
    FDOC_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ACTN_TYP_CD CDATA #IMPLIED
    PRIORITY_NBR CDATA #IMPLIED
    ACTN_PLCY_CD CDATA #IMPLIED
    ROLE_MBR_ID CDATA #IMPLIED
    ROLE_RSP_ID CDATA #IMPLIED
    EDIT_FLAG CDATA #IMPLIED
    FRC_ACTN CDATA #IMPLIED
>

<!ELEMENT KRIM_PND_ROLE_RSP_T EMPTY>
<!ATTLIST KRIM_PND_ROLE_RSP_T
    FDOC_NBR CDATA #IMPLIED
    ROLE_RSP_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ROLE_ID CDATA #REQUIRED
    RSP_ID CDATA #REQUIRED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_PRNCPL_T EMPTY>
<!ATTLIST KRIM_PRNCPL_T
    PRNCPL_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PRNCPL_NM CDATA #REQUIRED
    ENTITY_ID CDATA #IMPLIED
    PRNCPL_PSWD CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ROLE_DOCUMENT_T EMPTY>
<!ATTLIST KRIM_ROLE_DOCUMENT_T
    FDOC_NBR CDATA #IMPLIED
    ROLE_ID CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ROLE_TYP_ID CDATA #REQUIRED
    ROLE_NMSPC CDATA #REQUIRED
    ROLE_NM CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    DESC_TXT CDATA #IMPLIED
>

<!ELEMENT KRIM_ROLE_MBR_ATTR_DATA_T EMPTY>
<!ATTLIST KRIM_ROLE_MBR_ATTR_DATA_T
    ATTR_DATA_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ROLE_MBR_ID CDATA #IMPLIED
    KIM_TYP_ID CDATA #REQUIRED
    KIM_ATTR_DEFN_ID CDATA #IMPLIED
    ATTR_VAL CDATA #IMPLIED
>

<!ELEMENT KRIM_ROLE_MBR_T EMPTY>
<!ATTLIST KRIM_ROLE_MBR_T
    ROLE_MBR_ID CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
    ROLE_ID CDATA #REQUIRED
    MBR_ID CDATA #REQUIRED
    MBR_TYP_CD CDATA #REQUIRED
    ACTV_FRM_DT CDATA #IMPLIED
    ACTV_TO_DT CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_ROLE_PERM_T EMPTY>
<!ATTLIST KRIM_ROLE_PERM_T
    ROLE_PERM_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ROLE_ID CDATA #REQUIRED
    PERM_ID CDATA #REQUIRED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_ROLE_RSP_ACTN_T EMPTY>
<!ATTLIST KRIM_ROLE_RSP_ACTN_T
    ROLE_RSP_ACTN_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ACTN_TYP_CD CDATA #IMPLIED
    PRIORITY_NBR CDATA #IMPLIED
    ACTN_PLCY_CD CDATA #IMPLIED
    ROLE_MBR_ID CDATA #IMPLIED
    ROLE_RSP_ID CDATA #IMPLIED
    FRC_ACTN CDATA #IMPLIED
>

<!ELEMENT KRIM_ROLE_RSP_T EMPTY>
<!ATTLIST KRIM_ROLE_RSP_T
    ROLE_RSP_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ROLE_ID CDATA #IMPLIED
    RSP_ID CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_ROLE_T EMPTY>
<!ATTLIST KRIM_ROLE_T
    ROLE_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ROLE_NM CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
    KIM_TYP_ID CDATA #REQUIRED
    ACTV_IND CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
>

<!ELEMENT KRIM_RSP_ATTR_DATA_T EMPTY>
<!ATTLIST KRIM_RSP_ATTR_DATA_T
    ATTR_DATA_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    RSP_ID CDATA #IMPLIED
    KIM_TYP_ID CDATA #REQUIRED
    KIM_ATTR_DEFN_ID CDATA #IMPLIED
    ATTR_VAL CDATA #IMPLIED
>

<!ELEMENT KRIM_RSP_T EMPTY>
<!ATTLIST KRIM_RSP_T
    RSP_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    RSP_TMPL_ID CDATA #IMPLIED
    NMSPC_CD CDATA #REQUIRED
    NM CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_RSP_TMPL_T EMPTY>
<!ATTLIST KRIM_RSP_TMPL_T
    RSP_TMPL_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    NM CDATA #REQUIRED
    KIM_TYP_ID CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_TYP_ATTR_T EMPTY>
<!ATTLIST KRIM_TYP_ATTR_T
    KIM_TYP_ATTR_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    SORT_CD CDATA #IMPLIED
    KIM_TYP_ID CDATA #REQUIRED
    KIM_ATTR_DEFN_ID CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRIM_TYP_T EMPTY>
<!ATTLIST KRIM_TYP_T
    KIM_TYP_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    SRVC_NM CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    NMSPC_CD CDATA #IMPLIED
>

<!ELEMENT KRLC_CMP_T EMPTY>
<!ATTLIST KRLC_CMP_T
    CAMPUS_CD CDATA #IMPLIED
    CAMPUS_NM CDATA #IMPLIED
    CAMPUS_SHRT_NM CDATA #IMPLIED
    CAMPUS_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ACTV_IND CDATA #REQUIRED
>

<!ELEMENT KRLC_CMP_TYP_T EMPTY>
<!ATTLIST KRLC_CMP_TYP_T
    CAMPUS_TYP_CD CDATA #IMPLIED
    CMP_TYP_NM CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ACTV_IND CDATA #REQUIRED
>

<!ELEMENT KRLC_CNTRY_T EMPTY>
<!ATTLIST KRLC_CNTRY_T
    POSTAL_CNTRY_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    POSTAL_CNTRY_NM CDATA #IMPLIED
    PSTL_CNTRY_RSTRC_IND CDATA #REQUIRED
    ACTV_IND CDATA #REQUIRED
    ALT_POSTAL_CNTRY_CD CDATA #IMPLIED
>

<!ELEMENT KRLC_CNTY_T EMPTY>
<!ATTLIST KRLC_CNTY_T
    COUNTY_CD CDATA #IMPLIED
    STATE_CD CDATA #IMPLIED
    POSTAL_CNTRY_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    COUNTY_NM CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRLC_PSTL_CD_T EMPTY>
<!ATTLIST KRLC_PSTL_CD_T
    POSTAL_CD CDATA #IMPLIED
    POSTAL_CNTRY_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    POSTAL_STATE_CD CDATA #IMPLIED
    COUNTY_CD CDATA #IMPLIED
    POSTAL_CITY_NM CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
>

<!ELEMENT KRLC_ST_T EMPTY>
<!ATTLIST KRLC_ST_T
    POSTAL_STATE_CD CDATA #IMPLIED
    POSTAL_CNTRY_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    POSTAL_STATE_NM CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
>

<!ELEMENT KRMS_ACTN_ATTR_T EMPTY>
<!ATTLIST KRMS_ACTN_ATTR_T
    ACTN_ATTR_DATA_ID CDATA #IMPLIED
    ACTN_ID CDATA #REQUIRED
    ATTR_DEFN_ID CDATA #REQUIRED
    ATTR_VAL CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_ACTN_T EMPTY>
<!ATTLIST KRMS_ACTN_T
    ACTN_ID CDATA #IMPLIED
    NM CDATA #IMPLIED
    DESC_TXT CDATA #IMPLIED
    TYP_ID CDATA #REQUIRED
    RULE_ID CDATA #IMPLIED
    SEQ_NO CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
>

<!ELEMENT KRMS_AGENDA_ATTR_T EMPTY>
<!ATTLIST KRMS_AGENDA_ATTR_T
    AGENDA_ATTR_ID CDATA #IMPLIED
    AGENDA_ID CDATA #REQUIRED
    ATTR_VAL CDATA #IMPLIED
    ATTR_DEFN_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_AGENDA_ITM_T EMPTY>
<!ATTLIST KRMS_AGENDA_ITM_T
    AGENDA_ITM_ID CDATA #IMPLIED
    RULE_ID CDATA #IMPLIED
    SUB_AGENDA_ID CDATA #IMPLIED
    AGENDA_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    WHEN_TRUE CDATA #IMPLIED
    WHEN_FALSE CDATA #IMPLIED
    ALWAYS CDATA #IMPLIED
>

<!ELEMENT KRMS_AGENDA_T EMPTY>
<!ATTLIST KRMS_AGENDA_T
    AGENDA_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    CNTXT_ID CDATA #REQUIRED
    INIT_AGENDA_ITM_ID CDATA #IMPLIED
    TYP_ID CDATA #IMPLIED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_ATTR_DEFN_T EMPTY>
<!ATTLIST KRMS_ATTR_DEFN_T
    ATTR_DEFN_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    LBL CDATA #IMPLIED
    ACTV CDATA #REQUIRED
    CMPNT_NM CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
>

<!ELEMENT KRMS_CMPND_PROP_PROPS_T EMPTY>
<!ATTLIST KRMS_CMPND_PROP_PROPS_T
    CMPND_PROP_ID CDATA #IMPLIED
    PROP_ID CDATA #IMPLIED
>

<!ELEMENT KRMS_CNTXT_ATTR_T EMPTY>
<!ATTLIST KRMS_CNTXT_ATTR_T
    CNTXT_ATTR_ID CDATA #IMPLIED
    CNTXT_ID CDATA #REQUIRED
    ATTR_VAL CDATA #IMPLIED
    ATTR_DEFN_ID CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_CNTXT_T EMPTY>
<!ATTLIST KRMS_CNTXT_T
    CNTXT_ID CDATA #IMPLIED
    NMSPC_CD CDATA #REQUIRED
    NM CDATA #REQUIRED
    TYP_ID CDATA #IMPLIED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
>

<!ELEMENT KRMS_CNTXT_VLD_ACTN_TYP_T EMPTY>
<!ATTLIST KRMS_CNTXT_VLD_ACTN_TYP_T
    CNTXT_VLD_ACTN_ID CDATA #IMPLIED
    CNTXT_ID CDATA #REQUIRED
    ACTN_TYP_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_CNTXT_VLD_AGENDA_TYP_T EMPTY>
<!ATTLIST KRMS_CNTXT_VLD_AGENDA_TYP_T
    CNTXT_VLD_AGENDA_ID CDATA #IMPLIED
    CNTXT_ID CDATA #REQUIRED
    AGENDA_TYP_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_CNTXT_VLD_FUNC_T EMPTY>
<!ATTLIST KRMS_CNTXT_VLD_FUNC_T
    CNTXT_VLD_FUNC_ID CDATA #IMPLIED
    CNTXT_ID CDATA #REQUIRED
    FUNC_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_CNTXT_VLD_RULE_TYP_T EMPTY>
<!ATTLIST KRMS_CNTXT_VLD_RULE_TYP_T
    CNTXT_VLD_RULE_ID CDATA #IMPLIED
    CNTXT_ID CDATA #REQUIRED
    RULE_TYP_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_CNTXT_VLD_TERM_SPEC_T EMPTY>
<!ATTLIST KRMS_CNTXT_VLD_TERM_SPEC_T
    CNTXT_TERM_SPEC_PREREQ_ID CDATA #IMPLIED
    CNTXT_ID CDATA #REQUIRED
    TERM_SPEC_ID CDATA #REQUIRED
    PREREQ CDATA #IMPLIED
>

<!ELEMENT KRMS_CTGRY_T EMPTY>
<!ATTLIST KRMS_CTGRY_T
    CTGRY_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KRMS_FUNC_CTGRY_T EMPTY>
<!ATTLIST KRMS_FUNC_CTGRY_T
    FUNC_ID CDATA #IMPLIED
    CTGRY_ID CDATA #IMPLIED
>

<!ELEMENT KRMS_FUNC_PARM_T EMPTY>
<!ATTLIST KRMS_FUNC_PARM_T
    FUNC_PARM_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
    TYP CDATA #REQUIRED
    FUNC_ID CDATA #REQUIRED
    SEQ_NO CDATA #REQUIRED
>

<!ELEMENT KRMS_FUNC_T EMPTY>
<!ATTLIST KRMS_FUNC_T
    FUNC_ID CDATA #IMPLIED
    NMSPC_CD CDATA #REQUIRED
    NM CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
    RTRN_TYP CDATA #REQUIRED
    TYP_ID CDATA #REQUIRED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_NL_TMPL_ATTR_T EMPTY>
<!ATTLIST KRMS_NL_TMPL_ATTR_T
    NL_TMPL_ATTR_ID CDATA #IMPLIED
    NL_TMPL_ID CDATA #REQUIRED
    ATTR_DEFN_ID CDATA #REQUIRED
    ATTR_VAL CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_NL_TMPL_T EMPTY>
<!ATTLIST KRMS_NL_TMPL_T
    NL_TMPL_ID CDATA #IMPLIED
    LANG_CD CDATA #REQUIRED
    NL_USAGE_ID CDATA #REQUIRED
    TYP_ID CDATA #REQUIRED
    TMPL CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_NL_USAGE_ATTR_T EMPTY>
<!ATTLIST KRMS_NL_USAGE_ATTR_T
    NL_USAGE_ATTR_ID CDATA #IMPLIED
    NL_USAGE_ID CDATA #REQUIRED
    ATTR_DEFN_ID CDATA #REQUIRED
    ATTR_VAL CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_NL_USAGE_T EMPTY>
<!ATTLIST KRMS_NL_USAGE_T
    NL_USAGE_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_PROP_PARM_T EMPTY>
<!ATTLIST KRMS_PROP_PARM_T
    PROP_PARM_ID CDATA #IMPLIED
    PROP_ID CDATA #REQUIRED
    PARM_VAL CDATA #IMPLIED
    PARM_TYP_CD CDATA #REQUIRED
    SEQ_NO CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_PROP_T EMPTY>
<!ATTLIST KRMS_PROP_T
    PROP_ID CDATA #IMPLIED
    DESC_TXT CDATA #IMPLIED
    TYP_ID CDATA #IMPLIED
    DSCRM_TYP_CD CDATA #REQUIRED
    CMPND_OP_CD CDATA #IMPLIED
    RULE_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    CMPND_SEQ_NO CDATA #IMPLIED
>

<!ELEMENT KRMS_REF_OBJ_KRMS_OBJ_T EMPTY>
<!ATTLIST KRMS_REF_OBJ_KRMS_OBJ_T
    REF_OBJ_KRMS_OBJ_ID CDATA #IMPLIED
    COLLECTION_NM CDATA #IMPLIED
    KRMS_OBJ_ID CDATA #REQUIRED
    KRMS_DSCR_TYP CDATA #REQUIRED
    REF_OBJ_ID CDATA #REQUIRED
    REF_DSCR_TYP CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_RULE_ATTR_T EMPTY>
<!ATTLIST KRMS_RULE_ATTR_T
    RULE_ATTR_ID CDATA #IMPLIED
    RULE_ID CDATA #REQUIRED
    ATTR_DEFN_ID CDATA #REQUIRED
    ATTR_VAL CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_RULE_T EMPTY>
<!ATTLIST KRMS_RULE_T
    RULE_ID CDATA #IMPLIED
    NMSPC_CD CDATA #REQUIRED
    NM CDATA #REQUIRED
    TYP_ID CDATA #IMPLIED
    PROP_ID CDATA #IMPLIED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
>

<!ELEMENT KRMS_TERM_PARM_T EMPTY>
<!ATTLIST KRMS_TERM_PARM_T
    TERM_PARM_ID CDATA #IMPLIED
    TERM_ID CDATA #REQUIRED
    NM CDATA #REQUIRED
    VAL CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_TERM_RSLVR_ATTR_T EMPTY>
<!ATTLIST KRMS_TERM_RSLVR_ATTR_T
    TERM_RSLVR_ATTR_ID CDATA #IMPLIED
    TERM_RSLVR_ID CDATA #REQUIRED
    ATTR_DEFN_ID CDATA #REQUIRED
    ATTR_VAL CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_TERM_RSLVR_INPUT_SPEC_T EMPTY>
<!ATTLIST KRMS_TERM_RSLVR_INPUT_SPEC_T
    TERM_SPEC_ID CDATA #IMPLIED
    TERM_RSLVR_ID CDATA #IMPLIED
>

<!ELEMENT KRMS_TERM_RSLVR_PARM_SPEC_T EMPTY>
<!ATTLIST KRMS_TERM_RSLVR_PARM_SPEC_T
    TERM_RSLVR_PARM_SPEC_ID CDATA #IMPLIED
    TERM_RSLVR_ID CDATA #REQUIRED
    NM CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_TERM_RSLVR_T EMPTY>
<!ATTLIST KRMS_TERM_RSLVR_T
    TERM_RSLVR_ID CDATA #IMPLIED
    NMSPC_CD CDATA #REQUIRED
    NM CDATA #REQUIRED
    TYP_ID CDATA #REQUIRED
    OUTPUT_TERM_SPEC_ID CDATA #REQUIRED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_TERM_SPEC_CTGRY_T EMPTY>
<!ATTLIST KRMS_TERM_SPEC_CTGRY_T
    TERM_SPEC_ID CDATA #IMPLIED
    CTGRY_ID CDATA #IMPLIED
>

<!ELEMENT KRMS_TERM_SPEC_T EMPTY>
<!ATTLIST KRMS_TERM_SPEC_T
    TERM_SPEC_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    TYP CDATA #REQUIRED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
    NMSPC_CD CDATA #REQUIRED
>

<!ELEMENT KRMS_TERM_T EMPTY>
<!ATTLIST KRMS_TERM_T
    TERM_ID CDATA #IMPLIED
    TERM_SPEC_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
>

<!ELEMENT KRMS_TYP_ATTR_T EMPTY>
<!ATTLIST KRMS_TYP_ATTR_T
    TYP_ATTR_ID CDATA #IMPLIED
    SEQ_NO CDATA #REQUIRED
    TYP_ID CDATA #REQUIRED
    ATTR_DEFN_ID CDATA #REQUIRED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRMS_TYP_RELN_T EMPTY>
<!ATTLIST KRMS_TYP_RELN_T
    TYP_RELN_ID CDATA #IMPLIED
    FROM_TYP_ID CDATA #REQUIRED
    TO_TYP_ID CDATA #REQUIRED
    RELN_TYP CDATA #REQUIRED
    SEQ_NO CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    ACTV CDATA #REQUIRED
>

<!ELEMENT KRMS_TYP_T EMPTY>
<!ATTLIST KRMS_TYP_T
    TYP_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    SRVC_NM CDATA #IMPLIED
    ACTV CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRNS_ADHOC_RTE_ACTN_RECIP_T EMPTY>
<!ATTLIST KRNS_ADHOC_RTE_ACTN_RECIP_T
    RECIP_TYP_CD CDATA #IMPLIED
    ACTN_RQST_CD CDATA #IMPLIED
    ACTN_RQST_RECIP_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DOC_HDR_ID CDATA #IMPLIED
>

<!ELEMENT KRNS_ATT_T EMPTY>
<!ATTLIST KRNS_ATT_T
    NTE_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    MIME_TYP CDATA #IMPLIED
    FILE_NM CDATA #IMPLIED
    ATT_ID CDATA #IMPLIED
    FILE_SZ CDATA #IMPLIED
    ATT_TYP_CD CDATA #IMPLIED
>

<!ELEMENT KRNS_DOC_HDR_T EMPTY>
<!ATTLIST KRNS_DOC_HDR_T
    DOC_HDR_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    FDOC_DESC CDATA #IMPLIED
    ORG_DOC_HDR_ID CDATA #IMPLIED
    TMPL_DOC_HDR_ID CDATA #IMPLIED
    EXPLANATION CDATA #IMPLIED
>

<!ELEMENT KRNS_LOOKUP_RSLT_T EMPTY>
<!ATTLIST KRNS_LOOKUP_RSLT_T
    LOOKUP_RSLT_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    LOOKUP_DT CDATA #REQUIRED
    SERIALZD_RSLTS CDATA #IMPLIED
>

<!ELEMENT KRNS_LOOKUP_SEL_T EMPTY>
<!ATTLIST KRNS_LOOKUP_SEL_T
    LOOKUP_RSLT_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    LOOKUP_DT CDATA #REQUIRED
    SEL_OBJ_IDS CDATA #IMPLIED
>

<!ELEMENT KRNS_MAINT_DOC_ATT_LST_T EMPTY>
<!ATTLIST KRNS_MAINT_DOC_ATT_LST_T
    ATT_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    ATT_CNTNT CDATA #REQUIRED
    FILE_NM CDATA #IMPLIED
    CNTNT_TYP CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRNS_MAINT_DOC_ATT_T EMPTY>
<!ATTLIST KRNS_MAINT_DOC_ATT_T
    DOC_HDR_ID CDATA #IMPLIED
    ATT_CNTNT CDATA #REQUIRED
    FILE_NM CDATA #IMPLIED
    CNTNT_TYP CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRNS_MAINT_DOC_T EMPTY>
<!ATTLIST KRNS_MAINT_DOC_T
    DOC_HDR_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DOC_CNTNT CDATA #IMPLIED
>

<!ELEMENT KRNS_MAINT_LOCK_T EMPTY>
<!ATTLIST KRNS_MAINT_LOCK_T
    MAINT_LOCK_REP_TXT CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DOC_HDR_ID CDATA #REQUIRED
    MAINT_LOCK_ID CDATA #IMPLIED
>

<!ELEMENT KRNS_NTE_T EMPTY>
<!ATTLIST KRNS_NTE_T
    NTE_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    RMT_OBJ_ID CDATA #REQUIRED
    AUTH_PRNCPL_ID CDATA #REQUIRED
    POST_TS CDATA #REQUIRED
    NTE_TYP_CD CDATA #REQUIRED
    TXT CDATA #IMPLIED
    PRG_CD CDATA #IMPLIED
    TPC_TXT CDATA #IMPLIED
>

<!ELEMENT KRNS_NTE_TYP_T EMPTY>
<!ATTLIST KRNS_NTE_TYP_T
    NTE_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    TYP_DESC_TXT CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRNS_PESSIMISTIC_LOCK_T EMPTY>
<!ATTLIST KRNS_PESSIMISTIC_LOCK_T
    PESSIMISTIC_LOCK_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    LOCK_DESC_TXT CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    GNRT_DT CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    SESN_ID CDATA #REQUIRED
>

<!ELEMENT KRNS_SESN_DOC_T EMPTY>
<!ATTLIST KRNS_SESN_DOC_T
    SESN_DOC_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #IMPLIED
    PRNCPL_ID CDATA #IMPLIED
    IP_ADDR CDATA #IMPLIED
    SERIALZD_DOC_FRM CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
    CONTENT_ENCRYPTED_IND CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KRSB_BAM_PARM_T EMPTY>
<!ATTLIST KRSB_BAM_PARM_T
    BAM_PARM_ID CDATA #IMPLIED
    BAM_ID CDATA #REQUIRED
    PARM CDATA #REQUIRED
>

<!ELEMENT KRSB_BAM_T EMPTY>
<!ATTLIST KRSB_BAM_T
    BAM_ID CDATA #IMPLIED
    SVC_NM CDATA #REQUIRED
    SVC_URL CDATA #REQUIRED
    MTHD_NM CDATA #REQUIRED
    THRD_NM CDATA #REQUIRED
    CALL_DT CDATA #REQUIRED
    TGT_TO_STR CDATA #REQUIRED
    SRVR_IND CDATA #REQUIRED
    EXCPN_TO_STR CDATA #IMPLIED
    EXCPN_MSG CDATA #IMPLIED
>

<!ELEMENT KRSB_MSG_PYLD_T EMPTY>
<!ATTLIST KRSB_MSG_PYLD_T
    MSG_QUE_ID CDATA #IMPLIED
    MSG_PYLD CDATA #REQUIRED
>

<!ELEMENT KRSB_MSG_QUE_T EMPTY>
<!ATTLIST KRSB_MSG_QUE_T
    MSG_QUE_ID CDATA #IMPLIED
    DT CDATA #REQUIRED
    EXP_DT CDATA #IMPLIED
    PRIO CDATA #REQUIRED
    STAT_CD CDATA #REQUIRED
    RTRY_CNT CDATA #REQUIRED
    IP_NBR CDATA #REQUIRED
    SVC_NM CDATA #IMPLIED
    APPL_ID CDATA #REQUIRED
    SVC_MTHD_NM CDATA #IMPLIED
    APP_VAL_ONE CDATA #IMPLIED
    APP_VAL_TWO CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_BLOB_TRIGGERS EMPTY>
<!ATTLIST KRSB_QRTZ_BLOB_TRIGGERS
    TRIGGER_NAME CDATA #IMPLIED
    TRIGGER_GROUP CDATA #IMPLIED
    BLOB_DATA CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_CALENDARS EMPTY>
<!ATTLIST KRSB_QRTZ_CALENDARS
    CALENDAR_NAME CDATA #IMPLIED
    CALENDAR CDATA #REQUIRED
>

<!ELEMENT KRSB_QRTZ_CRON_TRIGGERS EMPTY>
<!ATTLIST KRSB_QRTZ_CRON_TRIGGERS
    TRIGGER_NAME CDATA #IMPLIED
    TRIGGER_GROUP CDATA #IMPLIED
    CRON_EXPRESSION CDATA #REQUIRED
    TIME_ZONE_ID CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_FIRED_TRIGGERS EMPTY>
<!ATTLIST KRSB_QRTZ_FIRED_TRIGGERS
    ENTRY_ID CDATA #IMPLIED
    TRIGGER_NAME CDATA #REQUIRED
    TRIGGER_GROUP CDATA #REQUIRED
    IS_VOLATILE CDATA #REQUIRED
    INSTANCE_NAME CDATA #REQUIRED
    FIRED_TIME CDATA #REQUIRED
    PRIORITY CDATA #REQUIRED
    STATE CDATA #REQUIRED
    JOB_NAME CDATA #IMPLIED
    JOB_GROUP CDATA #IMPLIED
    IS_STATEFUL CDATA #IMPLIED
    REQUESTS_RECOVERY CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_JOB_DETAILS EMPTY>
<!ATTLIST KRSB_QRTZ_JOB_DETAILS
    JOB_NAME CDATA #IMPLIED
    JOB_GROUP CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    JOB_CLASS_NAME CDATA #REQUIRED
    IS_DURABLE CDATA #REQUIRED
    IS_VOLATILE CDATA #REQUIRED
    IS_STATEFUL CDATA #REQUIRED
    REQUESTS_RECOVERY CDATA #REQUIRED
    JOB_DATA CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_JOB_LISTENERS EMPTY>
<!ATTLIST KRSB_QRTZ_JOB_LISTENERS
    JOB_NAME CDATA #IMPLIED
    JOB_GROUP CDATA #IMPLIED
    JOB_LISTENER CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_LOCKS EMPTY>
<!ATTLIST KRSB_QRTZ_LOCKS
    LOCK_NAME CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_PAUSED_TRIGGER_GRPS EMPTY>
<!ATTLIST KRSB_QRTZ_PAUSED_TRIGGER_GRPS
    TRIGGER_GROUP CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_SCHEDULER_STATE EMPTY>
<!ATTLIST KRSB_QRTZ_SCHEDULER_STATE
    INSTANCE_NAME CDATA #IMPLIED
    LAST_CHECKIN_TIME CDATA #REQUIRED
    CHECKIN_INTERVAL CDATA #REQUIRED
>

<!ELEMENT KRSB_QRTZ_SIMPLE_TRIGGERS EMPTY>
<!ATTLIST KRSB_QRTZ_SIMPLE_TRIGGERS
    TRIGGER_NAME CDATA #IMPLIED
    TRIGGER_GROUP CDATA #IMPLIED
    REPEAT_COUNT CDATA #REQUIRED
    REPEAT_INTERVAL CDATA #REQUIRED
    TIMES_TRIGGERED CDATA #REQUIRED
>

<!ELEMENT KRSB_QRTZ_TRIGGERS EMPTY>
<!ATTLIST KRSB_QRTZ_TRIGGERS
    TRIGGER_NAME CDATA #IMPLIED
    TRIGGER_GROUP CDATA #IMPLIED
    JOB_NAME CDATA #REQUIRED
    JOB_GROUP CDATA #REQUIRED
    IS_VOLATILE CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    NEXT_FIRE_TIME CDATA #IMPLIED
    PREV_FIRE_TIME CDATA #IMPLIED
    PRIORITY CDATA #IMPLIED
    TRIGGER_STATE CDATA #REQUIRED
    TRIGGER_TYPE CDATA #REQUIRED
    START_TIME CDATA #REQUIRED
    END_TIME CDATA #IMPLIED
    CALENDAR_NAME CDATA #IMPLIED
    MISFIRE_INSTR CDATA #IMPLIED
    JOB_DATA CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_TRIGGER_LISTENERS EMPTY>
<!ATTLIST KRSB_QRTZ_TRIGGER_LISTENERS
    TRIGGER_NAME CDATA #IMPLIED
    TRIGGER_GROUP CDATA #IMPLIED
    TRIGGER_LISTENER CDATA #IMPLIED
>

<!ELEMENT KRSB_SVC_DEF_T EMPTY>
<!ATTLIST KRSB_SVC_DEF_T
    SVC_DEF_ID CDATA #IMPLIED
    SVC_NM CDATA #REQUIRED
    SVC_URL CDATA #REQUIRED
    INSTN_ID CDATA #REQUIRED
    APPL_ID CDATA #REQUIRED
    SRVR_IP CDATA #REQUIRED
    TYP_CD CDATA #REQUIRED
    SVC_VER CDATA #REQUIRED
    STAT_CD CDATA #REQUIRED
    SVC_DSCRPTR_ID CDATA #REQUIRED
    CHKSM CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRSB_SVC_DSCRPTR_T EMPTY>
<!ATTLIST KRSB_SVC_DSCRPTR_T
    SVC_DSCRPTR_ID CDATA #IMPLIED
    DSCRPTR CDATA #REQUIRED
>

<!ELEMENT TRVL_AUTH_DOC_T EMPTY>
<!ATTLIST TRVL_AUTH_DOC_T
    FDOC_NBR CDATA #IMPLIED
    TRVL_ID CDATA #IMPLIED
    TRAVELER_DTL_ID CDATA #IMPLIED
    TEM_PROFILE_ID CDATA #IMPLIED
    TRIP_TYP_CD CDATA #IMPLIED
    TRIP_BGN_DT CDATA #IMPLIED
    TRIP_END_DT CDATA #IMPLIED
    PRIMARY_DEST_ID CDATA #IMPLIED
    PRIMARY_DEST_NAME CDATA #IMPLIED
    PRIMARY_DEST_CNTRY_ST CDATA #IMPLIED
    PRIMARY_DEST_CNTY CDATA #IMPLIED
    EXP_LMT CDATA #IMPLIED
    MEAL_WITHOUT_LODGING CDATA #IMPLIED
    TRIP_DESC CDATA #IMPLIED
    DELINQUENT_TR_EXCEPTION CDATA #IMPLIED
    PER_DIEM_ADJ CDATA #IMPLIED
    AR_CUST_ID CDATA #IMPLIED
    AR_INV_DOC_NBR CDATA #IMPLIED
    CELL_PH_NUM CDATA #IMPLIED
    RGN_FAMIL CDATA #IMPLIED
    CTZN_CNTRY_CD CDATA #IMPLIED
    FDOC_NXT_EXP_NBR CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT TRVL_PER_DIEM_T EMPTY>
<!ATTLIST TRVL_PER_DIEM_T
    ID CDATA #IMPLIED
    TRIP_TYP_CD CDATA #REQUIRED
    COUNTRY CDATA #IMPLIED
    COUNTRY_NM CDATA #IMPLIED
    COUNTY_CD CDATA #IMPLIED
    PRI_DEST CDATA #IMPLIED
    SSN_BGN_DT CDATA #IMPLIED
    EFFECT_FROM_DT CDATA #IMPLIED
    EFFECT_TO_DT CDATA #IMPLIED
    LOAD_DT CDATA #IMPLIED
    SSN_BGN_MONTH_DAY CDATA #IMPLIED
    BKFST CDATA #IMPLIED
    LUNCH CDATA #IMPLIED
    DIN CDATA #IMPLIED
    LODGING CDATA #IMPLIED
    INC CDATA #IMPLIED
    MEALS_INC CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT TRVL_TRIP_TYP_T EMPTY>
<!ATTLIST TRVL_TRIP_TYP_T
    CODE CDATA #IMPLIED
    NM CDATA #REQUIRED
    GEN_ENC_IND CDATA #REQUIRED
    ENC_BAL_TYP CDATA #IMPLIED
    ENC_OBJ_CD CDATA #IMPLIED
    CONT_INFO_REQ_IND CDATA #REQUIRED
    BLANKET_IND CDATA #REQUIRED
    AUTO_TR_LIMIT CDATA #REQUIRED
    USE_PER_DIEM CDATA #REQUIRED
    TA_REQUIRED CDATA #REQUIRED
    PER_DIEM_CALC_METHOD CDATA #REQUIRED
    ACTV_IND CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #REQUIRED
>

