rice/db/impex/client/bootstrap/src/main/resources/data.dtd

<!ELEMENT dataset (
    KRAD_MSG_T|
    KRNS_ADHOC_RTE_ACTN_RECIP_T|
    KRNS_ATT_T|
    KRNS_DOC_HDR_T|
    KRNS_LOOKUP_RSLT_T|
    KRNS_LOOKUP_SEL_T|
    KRNS_MAINT_DOC_ATT_LST_T|
    KRNS_MAINT_DOC_ATT_T|
    KRNS_MAINT_DOC_T|
    KRNS_MAINT_LOCK_T|
    KRNS_NTE_T|
    KRNS_NTE_TYP_T|
    KRNS_PESSIMISTIC_LOCK_T|
    KRNS_SESN_DOC_T|
    KRSB_BAM_PARM_T|
    KRSB_BAM_T|
    KRSB_MSG_PYLD_T|
    KRSB_MSG_QUE_T|
    KRSB_QRTZ_BLOB_TRIGGERS|
    KRSB_QRTZ_CALENDARS|
    KRSB_QRTZ_CRON_TRIGGERS|
    KRSB_QRTZ_FIRED_TRIGGERS|
    KRSB_QRTZ_JOB_DETAILS|
    KRSB_QRTZ_JOB_LISTENERS|
    KRSB_QRTZ_LOCKS|
    KRSB_QRTZ_PAUSED_TRIGGER_GRPS|
    KRSB_QRTZ_SCHEDULER_STATE|
    KRSB_QRTZ_SIMPLE_TRIGGERS|
    KRSB_QRTZ_TRIGGERS|
    KRSB_QRTZ_TRIGGER_LISTENERS)*>
<!ELEMENT KRAD_MSG_T EMPTY>
<!ATTLIST KRAD_MSG_T
    NMSPC_CD CDATA #IMPLIED
    CMPNT_CD CDATA #IMPLIED
    MSG_KEY CDATA #IMPLIED
    LOC CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    MSG_DESC CDATA #IMPLIED
    TXT CDATA #IMPLIED
>

<!ELEMENT KRNS_ADHOC_RTE_ACTN_RECIP_T EMPTY>
<!ATTLIST KRNS_ADHOC_RTE_ACTN_RECIP_T
    RECIP_TYP_CD CDATA #IMPLIED
    ACTN_RQST_CD CDATA #IMPLIED
    ACTN_RQST_RECIP_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DOC_HDR_ID CDATA #IMPLIED
>

<!ELEMENT KRNS_ATT_T EMPTY>
<!ATTLIST KRNS_ATT_T
    NTE_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    MIME_TYP CDATA #IMPLIED
    FILE_NM CDATA #IMPLIED
    ATT_ID CDATA #IMPLIED
    FILE_SZ CDATA #IMPLIED
    ATT_TYP_CD CDATA #IMPLIED
>

<!ELEMENT KRNS_DOC_HDR_T EMPTY>
<!ATTLIST KRNS_DOC_HDR_T
    DOC_HDR_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    FDOC_DESC CDATA #IMPLIED
    ORG_DOC_HDR_ID CDATA #IMPLIED
    TMPL_DOC_HDR_ID CDATA #IMPLIED
    EXPLANATION CDATA #IMPLIED
>

<!ELEMENT KRNS_LOOKUP_RSLT_T EMPTY>
<!ATTLIST KRNS_LOOKUP_RSLT_T
    LOOKUP_RSLT_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    LOOKUP_DT CDATA #REQUIRED
    SERIALZD_RSLTS CDATA #IMPLIED
>

<!ELEMENT KRNS_LOOKUP_SEL_T EMPTY>
<!ATTLIST KRNS_LOOKUP_SEL_T
    LOOKUP_RSLT_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    LOOKUP_DT CDATA #REQUIRED
    SEL_OBJ_IDS CDATA #IMPLIED
>

<!ELEMENT KRNS_MAINT_DOC_ATT_LST_T EMPTY>
<!ATTLIST KRNS_MAINT_DOC_ATT_LST_T
    ATT_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    ATT_CNTNT CDATA #REQUIRED
    FILE_NM CDATA #IMPLIED
    CNTNT_TYP CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRNS_MAINT_DOC_ATT_T EMPTY>
<!ATTLIST KRNS_MAINT_DOC_ATT_T
    DOC_HDR_ID CDATA #IMPLIED
    ATT_CNTNT CDATA #REQUIRED
    FILE_NM CDATA #IMPLIED
    CNTNT_TYP CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRNS_MAINT_DOC_T EMPTY>
<!ATTLIST KRNS_MAINT_DOC_T
    DOC_HDR_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DOC_CNTNT CDATA #IMPLIED
>

<!ELEMENT KRNS_MAINT_LOCK_T EMPTY>
<!ATTLIST KRNS_MAINT_LOCK_T
    MAINT_LOCK_REP_TXT CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    DOC_HDR_ID CDATA #REQUIRED
    MAINT_LOCK_ID CDATA #IMPLIED
>

<!ELEMENT KRNS_NTE_T EMPTY>
<!ATTLIST KRNS_NTE_T
    NTE_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    RMT_OBJ_ID CDATA #REQUIRED
    AUTH_PRNCPL_ID CDATA #REQUIRED
    POST_TS CDATA #REQUIRED
    NTE_TYP_CD CDATA #REQUIRED
    TXT CDATA #IMPLIED
    PRG_CD CDATA #IMPLIED
    TPC_TXT CDATA #IMPLIED
>

<!ELEMENT KRNS_NTE_TYP_T EMPTY>
<!ATTLIST KRNS_NTE_TYP_T
    NTE_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    TYP_DESC_TXT CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
>

<!ELEMENT KRNS_PESSIMISTIC_LOCK_T EMPTY>
<!ATTLIST KRNS_PESSIMISTIC_LOCK_T
    PESSIMISTIC_LOCK_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    LOCK_DESC_TXT CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    GNRT_DT CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    SESN_ID CDATA #REQUIRED
>

<!ELEMENT KRNS_SESN_DOC_T EMPTY>
<!ATTLIST KRNS_SESN_DOC_T
    SESN_DOC_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #IMPLIED
    PRNCPL_ID CDATA #IMPLIED
    IP_ADDR CDATA #IMPLIED
    SERIALZD_DOC_FRM CDATA #IMPLIED
    LAST_UPDT_DT CDATA #IMPLIED
    CONTENT_ENCRYPTED_IND CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KRSB_BAM_PARM_T EMPTY>
<!ATTLIST KRSB_BAM_PARM_T
    BAM_PARM_ID CDATA #IMPLIED
    BAM_ID CDATA #REQUIRED
    PARM CDATA #REQUIRED
>

<!ELEMENT KRSB_BAM_T EMPTY>
<!ATTLIST KRSB_BAM_T
    BAM_ID CDATA #IMPLIED
    SVC_NM CDATA #REQUIRED
    SVC_URL CDATA #REQUIRED
    MTHD_NM CDATA #REQUIRED
    THRD_NM CDATA #REQUIRED
    CALL_DT CDATA #REQUIRED
    TGT_TO_STR CDATA #REQUIRED
    SRVR_IND CDATA #REQUIRED
    EXCPN_TO_STR CDATA #IMPLIED
    EXCPN_MSG CDATA #IMPLIED
>

<!ELEMENT KRSB_MSG_PYLD_T EMPTY>
<!ATTLIST KRSB_MSG_PYLD_T
    MSG_QUE_ID CDATA #IMPLIED
    MSG_PYLD CDATA #REQUIRED
>

<!ELEMENT KRSB_MSG_QUE_T EMPTY>
<!ATTLIST KRSB_MSG_QUE_T
    MSG_QUE_ID CDATA #IMPLIED
    DT CDATA #REQUIRED
    EXP_DT CDATA #IMPLIED
    PRIO CDATA #REQUIRED
    STAT_CD CDATA #REQUIRED
    RTRY_CNT CDATA #REQUIRED
    IP_NBR CDATA #REQUIRED
    SVC_NM CDATA #IMPLIED
    APPL_ID CDATA #REQUIRED
    SVC_MTHD_NM CDATA #IMPLIED
    APP_VAL_ONE CDATA #IMPLIED
    APP_VAL_TWO CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_BLOB_TRIGGERS EMPTY>
<!ATTLIST KRSB_QRTZ_BLOB_TRIGGERS
    TRIGGER_NAME CDATA #IMPLIED
    TRIGGER_GROUP CDATA #IMPLIED
    BLOB_DATA CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_CALENDARS EMPTY>
<!ATTLIST KRSB_QRTZ_CALENDARS
    CALENDAR_NAME CDATA #IMPLIED
    CALENDAR CDATA #REQUIRED
>

<!ELEMENT KRSB_QRTZ_CRON_TRIGGERS EMPTY>
<!ATTLIST KRSB_QRTZ_CRON_TRIGGERS
    TRIGGER_NAME CDATA #IMPLIED
    TRIGGER_GROUP CDATA #IMPLIED
    CRON_EXPRESSION CDATA #REQUIRED
    TIME_ZONE_ID CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_FIRED_TRIGGERS EMPTY>
<!ATTLIST KRSB_QRTZ_FIRED_TRIGGERS
    ENTRY_ID CDATA #IMPLIED
    TRIGGER_NAME CDATA #REQUIRED
    TRIGGER_GROUP CDATA #REQUIRED
    IS_VOLATILE CDATA #REQUIRED
    INSTANCE_NAME CDATA #REQUIRED
    FIRED_TIME CDATA #REQUIRED
    PRIORITY CDATA #REQUIRED
    STATE CDATA #REQUIRED
    JOB_NAME CDATA #IMPLIED
    JOB_GROUP CDATA #IMPLIED
    IS_STATEFUL CDATA #IMPLIED
    REQUESTS_RECOVERY CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_JOB_DETAILS EMPTY>
<!ATTLIST KRSB_QRTZ_JOB_DETAILS
    JOB_NAME CDATA #IMPLIED
    JOB_GROUP CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    JOB_CLASS_NAME CDATA #REQUIRED
    IS_DURABLE CDATA #REQUIRED
    IS_VOLATILE CDATA #REQUIRED
    IS_STATEFUL CDATA #REQUIRED
    REQUESTS_RECOVERY CDATA #REQUIRED
    JOB_DATA CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_JOB_LISTENERS EMPTY>
<!ATTLIST KRSB_QRTZ_JOB_LISTENERS
    JOB_NAME CDATA #IMPLIED
    JOB_GROUP CDATA #IMPLIED
    JOB_LISTENER CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_LOCKS EMPTY>
<!ATTLIST KRSB_QRTZ_LOCKS
    LOCK_NAME CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_PAUSED_TRIGGER_GRPS EMPTY>
<!ATTLIST KRSB_QRTZ_PAUSED_TRIGGER_GRPS
    TRIGGER_GROUP CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_SCHEDULER_STATE EMPTY>
<!ATTLIST KRSB_QRTZ_SCHEDULER_STATE
    INSTANCE_NAME CDATA #IMPLIED
    LAST_CHECKIN_TIME CDATA #REQUIRED
    CHECKIN_INTERVAL CDATA #REQUIRED
>

<!ELEMENT KRSB_QRTZ_SIMPLE_TRIGGERS EMPTY>
<!ATTLIST KRSB_QRTZ_SIMPLE_TRIGGERS
    TRIGGER_NAME CDATA #IMPLIED
    TRIGGER_GROUP CDATA #IMPLIED
    REPEAT_COUNT CDATA #REQUIRED
    REPEAT_INTERVAL CDATA #REQUIRED
    TIMES_TRIGGERED CDATA #REQUIRED
>

<!ELEMENT KRSB_QRTZ_TRIGGERS EMPTY>
<!ATTLIST KRSB_QRTZ_TRIGGERS
    TRIGGER_NAME CDATA #IMPLIED
    TRIGGER_GROUP CDATA #IMPLIED
    JOB_NAME CDATA #REQUIRED
    JOB_GROUP CDATA #REQUIRED
    IS_VOLATILE CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    NEXT_FIRE_TIME CDATA #IMPLIED
    PREV_FIRE_TIME CDATA #IMPLIED
    PRIORITY CDATA #IMPLIED
    TRIGGER_STATE CDATA #REQUIRED
    TRIGGER_TYPE CDATA #REQUIRED
    START_TIME CDATA #REQUIRED
    END_TIME CDATA #IMPLIED
    CALENDAR_NAME CDATA #IMPLIED
    MISFIRE_INSTR CDATA #IMPLIED
    JOB_DATA CDATA #IMPLIED
>

<!ELEMENT KRSB_QRTZ_TRIGGER_LISTENERS EMPTY>
<!ATTLIST KRSB_QRTZ_TRIGGER_LISTENERS
    TRIGGER_NAME CDATA #IMPLIED
    TRIGGER_GROUP CDATA #IMPLIED
    TRIGGER_LISTENER CDATA #IMPLIED
>

