ole-docstore/ole-docstore-engine/src/test/resources/org/kuali/ole/repository/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   - Copyright 2011 The Kuali Foundation.
   - 
   - Licensed under the Educational Community License, Version 2.0 (the "License");
   - you may not use this file except in compliance with the License.
   - You may obtain a copy of the License at
   - 
   - http://www.opensource.org/licenses/ecl2.php
   - 
   - Unless required by applicable law or agreed to in writing, software
   - distributed under the License is distributed on an "AS IS" BASIS,
   - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   - See the License for the specific language governing permissions and
   - limitations under the License.
 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="request" type="requestType"/>
    <xs:complexType name="ingestdocumentType">
        <xs:sequence>
            <xs:element type="xs:string" name="category"/>
            <xs:element type="xs:string" name="type"/>
            <xs:element type="xs:string" name="format"/>
            <xs:element type="xs:string" name="content"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="requestType">
        <xs:sequence>
            <xs:element type="requestDocumentsType" name="requestDocuments"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="requestDocumentsType">
        <xs:sequence>
            <xs:element type="ingestdocumentType" name="ingestdocument" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
