ole-app/ole-db/ole-impex/ole-impex-ds/src/main/resources/data.dtd

<!ELEMENT dataset (
        OLE_DS_ACCESS_LOCATION_T|
        OLE_DS_AUTHENTICATION_T|
        OLE_DS_BIB_HOLDINGS_T|
        OLE_DS_BIB_T|
        OLE_DS_CALL_NUMBER_TYPE_T|
        OLE_DS_COVERAGE_T|
        OLE_DS_EXT_NOTE_T|
        OLE_DS_EXT_OWNERSHIP_T|
        OLE_DS_EXT_OWNERSHIP_TYPE_T|
        OLE_DS_FORMER_IDENTIFIER_T|
        OLE_DS_HOLDINGS_ACCESS_LOC_T|
        OLE_DS_HOLDINGS_ACCESS_URI_T|
        OLE_DS_HOLDINGS_DONOR_T|
        OLE_DS_HOLDINGS_NOTE_T|
        OLE_DS_HOLDINGS_STAT_SEARCH_T|
        OLE_DS_HOLDINGS_T|
        OLE_DS_ITEM_DONOR_T|
        OLE_DS_ITEM_NOTE_T|
        OLE_DS_ITEM_STATUS_T|
        OLE_DS_ITEM_T|
        OLE_DS_ITEM_TYPE_T|
        OLE_DS_LOC_CHECKIN_COUNT_T|
        OLE_DS_PERPETUAL_ACCESS_T|
        OLE_DS_RECEIPT_STATUS_T|
        OLE_DS_STAT_SEARCH_CODE_T)*>
        <!ELEMENT OLE_DS_ACCESS_LOCATION_T EMPTY>
        <!ATTLIST OLE_DS_ACCESS_LOCATION_T
                ACCESS_LOCATION_ID CDATA #IMPLIED
                CODE CDATA #IMPLIED
                NAME CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_AUTHENTICATION_T EMPTY>
        <!ATTLIST OLE_DS_AUTHENTICATION_T
                AUTHENTICATION_TYPE_ID CDATA #IMPLIED
                CODE CDATA #IMPLIED
                NAME CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_BIB_HOLDINGS_T EMPTY>
        <!ATTLIST OLE_DS_BIB_HOLDINGS_T
                BIB_HOLDINGS_ID CDATA #IMPLIED
                HOLDINGS_ID CDATA #REQUIRED
                BIB_ID CDATA #REQUIRED
                >

        <!ELEMENT OLE_DS_BIB_T EMPTY>
        <!ATTLIST OLE_DS_BIB_T
                BIB_ID CDATA #IMPLIED
                FORMER_ID CDATA #IMPLIED
                FAST_ADD CDATA #IMPLIED
                STAFF_ONLY CDATA #IMPLIED
                SUPPRESS_FORM_PUBLIC CDATA #IMPLIED
                UPDATED_BY CDATA #IMPLIED
                CREATED_BY CDATA #IMPLIED
                DATE_CREATED CDATA #IMPLIED
                DATE_ENTERED CDATA #IMPLIED
                CONTENT CDATA #IMPLIED
                STATUS CDATA #IMPLIED
                STATUS_UPDATED_BY CDATA #IMPLIED
                STATUS_UPDATED_DATE CDATA #IMPLIED
                UNIQUE_ID_PREFIX CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_CALL_NUMBER_TYPE_T EMPTY>
        <!ATTLIST OLE_DS_CALL_NUMBER_TYPE_T
                CALL_NUMBER_TYPE_ID CDATA #IMPLIED
                CODE CDATA #IMPLIED
                NAME CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_COVERAGE_T EMPTY>
        <!ATTLIST OLE_DS_COVERAGE_T
                EHOLDINGS_COVERAGE_ID CDATA #IMPLIED
                HOLDINGS_ID CDATA #IMPLIED
                COVERAGE_START_DATE CDATA #IMPLIED
                COVERAGE_START_VOLUME CDATA #IMPLIED
                COVERAGE_START_ISSUE CDATA #IMPLIED
                COVERAGE_END_DATE CDATA #IMPLIED
                COVERAGE_END_VOLUME CDATA #IMPLIED
                COVERAGE_END_ISSUE CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_EXT_NOTE_T EMPTY>
        <!ATTLIST OLE_DS_EXT_NOTE_T
                EXT_NOTE_ID CDATA #IMPLIED
                TYPE CDATA #IMPLIED
                NOTE CDATA #IMPLIED
                EXT_OWNERSHIP_ID CDATA #REQUIRED
                >

        <!ELEMENT OLE_DS_EXT_OWNERSHIP_T EMPTY>
        <!ATTLIST OLE_DS_EXT_OWNERSHIP_T
                EXT_OWNERSHIP_ID CDATA #IMPLIED
                EXT_OWNERSHIP_TYPE_ID CDATA #IMPLIED
                TEXT CDATA #IMPLIED
                HOLDINGS_ID CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_EXT_OWNERSHIP_TYPE_T EMPTY>
        <!ATTLIST OLE_DS_EXT_OWNERSHIP_TYPE_T
                EXT_OWNERSHIP_TYPE_ID CDATA #IMPLIED
                CODE CDATA #IMPLIED
                NAME CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_FORMER_IDENTIFIER_T EMPTY>
        <!ATTLIST OLE_DS_FORMER_IDENTIFIER_T
                FORMER_IDENTIFIER_ID CDATA #IMPLIED
                VALUE CDATA #IMPLIED
                TYPE CDATA #IMPLIED
                ITEM_ID CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_HOLDINGS_ACCESS_LOC_T EMPTY>
        <!ATTLIST OLE_DS_HOLDINGS_ACCESS_LOC_T
                HOLDINGS_ACCESS_LOCATION_ID CDATA #IMPLIED
                HOLDINGS_ID CDATA #IMPLIED
                ACCESS_LOCATION_ID CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_HOLDINGS_ACCESS_URI_T EMPTY>
        <!ATTLIST OLE_DS_HOLDINGS_ACCESS_URI_T
                ACCESS_URI_ID CDATA #IMPLIED
                TEXT CDATA #IMPLIED
                URI CDATA #IMPLIED
                HOLDINGS_ID CDATA #REQUIRED
                >

        <!ELEMENT OLE_DS_HOLDINGS_DONOR_T EMPTY>
        <!ATTLIST OLE_DS_HOLDINGS_DONOR_T
                HOLDINGS_DONOR_ID CDATA #IMPLIED
                DONOR_CODE CDATA #IMPLIED
                DONOR_PUBLIC_DISPLAY CDATA #IMPLIED
                DONOR_NOTE CDATA #IMPLIED
                HOLDINGS_ID CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_HOLDINGS_NOTE_T EMPTY>
        <!ATTLIST OLE_DS_HOLDINGS_NOTE_T
                HOLDINGS_NOTE_ID CDATA #IMPLIED
                TYPE CDATA #IMPLIED
                NOTE CDATA #IMPLIED
                HOLDINGS_ID CDATA #REQUIRED
                >

        <!ELEMENT OLE_DS_HOLDINGS_STAT_SEARCH_T EMPTY>
        <!ATTLIST OLE_DS_HOLDINGS_STAT_SEARCH_T
                HOLDINGS_STAT_SEARCH_T CDATA #IMPLIED
                HOLDINGS_ID CDATA #IMPLIED
                STAT_SEARCH_ID CDATA #IMPLIED
                NAME CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_HOLDINGS_T EMPTY>
        <!ATTLIST OLE_DS_HOLDINGS_T
                HOLDINGS_ID CDATA #IMPLIED
                HOLDINGS_TYPE CDATA #IMPLIED
                BIB_ID CDATA #REQUIRED
                FORMER_HOLDINGS_ID CDATA #IMPLIED
                STAFF_ONLY CDATA #IMPLIED
                LOCATION CDATA #IMPLIED
                LOCATION_LEVEL CDATA #IMPLIED
                SOURCE_HOLDINGS_CONTENT CDATA #IMPLIED
                CALL_NUMBER_PREFIX CDATA #IMPLIED
                CALL_NUMBER CDATA #IMPLIED
                SHELVING_ORDER CDATA #IMPLIED
                CALL_NUMBER_TYPE_ID CDATA #IMPLIED
                RECEIPT_STATUS_ID CDATA #IMPLIED
                COPY_NUMBER CDATA #IMPLIED
                PUBLISHER CDATA #IMPLIED
                ACC_STATUS CDATA #IMPLIED
                PLATFORM CDATA #IMPLIED
                IMPRINT CDATA #IMPLIED
                STAT_SRC_CD CDATA #IMPLIED
                SUB_STATUS CDATA #IMPLIED
                LOCAL_PERSISTENT_LINK CDATA #IMPLIED
                ILL_ALLOW CDATA #IMPLIED
                AUTHENTICATION_TYPE_ID CDATA #IMPLIED
                PROXIED_RESOURCE CDATA #IMPLIED
                NO_SIMULT_USERS CDATA #IMPLIED
                ACC_LOC CDATA #IMPLIED
                ACC_USERNM CDATA #IMPLIED
                ACC_PWD CDATA #IMPLIED
                STATUS_DATE CDATA #IMPLIED
                ADMIN_USERNM CDATA #IMPLIED
                ADMIN_PWD CDATA #IMPLIED
                ADMIN_URL CDATA #IMPLIED
                LINK CDATA #IMPLIED
                LINK_TEXT CDATA #IMPLIED
                E_RES_ID CDATA #IMPLIED
                DATE_ENTERED CDATA #IMPLIED
                DATE_LAST_UPDATED CDATA #IMPLIED
                UPDATED_BY CDATA #IMPLIED
                CREATED_BY CDATA #IMPLIED
                UNIQUE_ID_PREFIX CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_ITEM_DONOR_T EMPTY>
        <!ATTLIST OLE_DS_ITEM_DONOR_T
                ITEM_DONOR_ID CDATA #IMPLIED
                DONOR_CODE CDATA #IMPLIED
                DONOR_PUBLIC_DISPLAY CDATA #IMPLIED
                DONOR_NOTE CDATA #IMPLIED
                ITEM_ID CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_ITEM_NOTE_T EMPTY>
        <!ATTLIST OLE_DS_ITEM_NOTE_T
                ITEM_NOTE_ID CDATA #IMPLIED
                TYPE CDATA #IMPLIED
                NOTE CDATA #IMPLIED
                ITEM_ID CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_ITEM_STATUS_T EMPTY>
        <!ATTLIST OLE_DS_ITEM_STATUS_T
                ITEM_STATUS_ID CDATA #IMPLIED
                CODE CDATA #IMPLIED
                NAME CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_ITEM_T EMPTY>
        <!ATTLIST OLE_DS_ITEM_T
                ITEM_ID CDATA #IMPLIED
                STAFF_ONLY CDATA #IMPLIED
                BARCODE CDATA #IMPLIED
                BARCODE_ARSL CDATA #IMPLIED
                STAT_SEARCH_CODE_ID CDATA #IMPLIED
                TEMP_ITEM_TYPE_ID CDATA #IMPLIED
                ENUMERATION CDATA #IMPLIED
                CHRONOLOGY CDATA #IMPLIED
                COPY_NUMBER CDATA #IMPLIED
                URI CDATA #IMPLIED
                ITEM_TYPE_ID CDATA #IMPLIED
                NUM_PIECES CDATA #IMPLIED
                UNIQUE_ID_PREFIX CDATA #IMPLIED
                HOLDINGS_ID CDATA #REQUIRED
                PURCHASE_ORDER_LINE_ITEM_ID CDATA #IMPLIED
                VENDOR_LINE_ITEM_ID CDATA #IMPLIED
                FUND CDATA #IMPLIED
                PRICE CDATA #IMPLIED
                ITEM_STATUS_ID CDATA #IMPLIED
                CHECK_IN_NOTE CDATA #IMPLIED
                EFFECTIVE_DATE CDATA #IMPLIED
                FAST_ADD CDATA #IMPLIED
                LOCATION CDATA #IMPLIED
                LOCATION_LEVEL CDATA #IMPLIED
                CALL_NUMBER_PREFIX CDATA #IMPLIED
                CALL_NUMBER CDATA #IMPLIED
                SHELVING_ORDER CDATA #IMPLIED
                CALL_NUMBER_TYPE_ID CDATA #IMPLIED
                CLMS_RET_FLAG CDATA #IMPLIED
                CLMS_RET_FLAG_CRE_DATE CDATA #IMPLIED
                CLMS_RET_NOTE CDATA #IMPLIED
                CURRENT_BORROWER CDATA #IMPLIED
                PROXY_BORROWER CDATA #IMPLIED
                DUE_DATE_TIME CDATA #IMPLIED
                ITEM_DMG_STATUS CDATA #IMPLIED
                ITEM_MISING_PICS_FLAG CDATA #IMPLIED
                ITEM_DMG_NOTE CDATA #IMPLIED
                MISING_PICS_EFFECTIVE_DATE CDATA #IMPLIED
                MISING_PICS_COUNT CDATA #IMPLIED
                MISING_PICS_NOTE CDATA #IMPLIED
                DATE_ENTERED CDATA #IMPLIED
                DATE_LAST_UPDATED CDATA #IMPLIED
                UPDATED_BY CDATA #IMPLIED
                CREATED_BY CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_ITEM_TYPE_T EMPTY>
        <!ATTLIST OLE_DS_ITEM_TYPE_T
                ITEM_TYPE_ID CDATA #IMPLIED
                CODE CDATA #IMPLIED
                NAME CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_LOC_CHECKIN_COUNT_T EMPTY>
        <!ATTLIST OLE_DS_LOC_CHECKIN_COUNT_T
                CHECK_IN_LOCATION_ID CDATA #IMPLIED
                LOCATION_NAME CDATA #IMPLIED
                LOCATION_COUNT CDATA #IMPLIED
                LOCATION_IN_HOUSE_COUNT CDATA #IMPLIED
                ITEM_ID CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_PERPETUAL_ACCESS_T EMPTY>
        <!ATTLIST OLE_DS_PERPETUAL_ACCESS_T
                EHOLDINGS_PERPETUAL_ACCESS_ID CDATA #IMPLIED
                HOLDINGS_ID CDATA #IMPLIED
                PERPETUAL_ACCESS_START_DATE CDATA #IMPLIED
                PERPETUAL_ACCESS_START_VOLUME CDATA #IMPLIED
                PERPETUAL_ACCESS_START_ISSUE CDATA #IMPLIED
                PERPETUAL_ACCESS_END_DATE CDATA #IMPLIED
                PERPETUAL_ACCESS_END_VOLUME CDATA #IMPLIED
                PERPETUAL_ACCESS_END_ISSUE CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_RECEIPT_STATUS_T EMPTY>
        <!ATTLIST OLE_DS_RECEIPT_STATUS_T
                RECEIPT_STATUS_ID CDATA #IMPLIED
                CODE CDATA #IMPLIED
                NAME CDATA #IMPLIED
                >

        <!ELEMENT OLE_DS_STAT_SEARCH_CODE_T EMPTY>
        <!ATTLIST OLE_DS_STAT_SEARCH_CODE_T
                STAT_SEARCH_CODE_ID CDATA #IMPLIED
                CODE CDATA #IMPLIED
                NAME CDATA #IMPLIED
                >

