ole-common/ole-utility/src/main/java/org/kuali/ole/docstore/model/xmlpojo/config/DocumentConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="documentConfig" type="DocumentConfig"/>
    <xs:complexType name="DocumentCategory">
        <xs:sequence>
            <xs:element type="DocumentType" name="documentTypes" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
    <xs:complexType name="DocumentType">
        <xs:sequence>
            <xs:element type="DocumentFormat" name="documentFormats" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
    <xs:complexType name="DocumentFormat">
        <xs:sequence>
            <xs:element type="Field" name="fields" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
    <xs:complexType name="Field">
        <xs:sequence>
            <xs:element type="Mapping" name="mapping" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
    <xs:complexType name="DocumentConfig">
        <xs:sequence>
            <xs:element type="DocumentCategory" name="documentCategories" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Mapping">
        <xs:sequence>
            <xs:element type="xs:string" name="include">
            </xs:element>
            <xs:element type="xs:string" name="exclude">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
</xs:schema>