ole-app/olefs/src/main/resources/org/kuali/ole/ingest/krmsbuilder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="krms" type="krmsType"/>
    <xs:complexType name="rulesType">
        <xs:sequence>
            <xs:element type="ruleType" name="rule" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ruleType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element name="term">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="barcodeStatus"/>
                        <xs:enumeration value="expirationDate"/>
                        <xs:enumeration value="loanedItems"/>
                        <xs:enumeration value="itemStatus"/>
                        <xs:enumeration value="dueDate"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="java.lang.String"/>
                        <xs:enumeration value="java.util.Date"/>
                        <xs:enumeration value="java.lang.Integer"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="operator" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="="/>
                        <xs:enumeration value="&lt;="/>
                        <xs:enumeration value="!="/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="constant" minOccurs="0"/>
            <xs:element name="function">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="NO"/>
                        <xs:enumeration value="YES"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="agendaType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="xs:string" name="contextName"/>
            <xs:element type="xs:string" name="categoryName"/>
            <xs:element type="profileAttributesType" name="profileAttributes"/>
            <xs:element type="rulesType" name="rules"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="krmsType">
        <xs:sequence>
            <xs:element type="agendaType" name="agenda"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="profileAttributesType">
        <xs:sequence>
            <xs:element type="attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attributeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>