ole-app/olefs/src/main/resources/org/kuali/ole/ingest/olePatronRecord.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ole.kuali.org/standards/ole-patron" targetNamespace="http://ole.kuali.org/standards/ole-patron" elementFormDefault="qualified">
    <xs:element name="patron" type="patron"/>
    <xs:element name="patronGroup" type="patronGroup"/>
    <xs:complexType name="patronGroup">
        <xs:annotation>
            <xs:documentation>
                A sequence of patrons wrapped in a patronGroup. Also valid to have a single patron.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="patron" type="patron" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="patron">
        <xs:sequence>
            <xs:element name="patronID" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The patron ID could be empty when loading a new record. OLE will generate a new record number in that case.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="expirationDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="activationDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="statisticalCategory" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="active" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            <xs:element name="name" type="name" minOccurs="1" maxOccurs="1"/>
            <xs:element name="borrowerType" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Only a single borrowerType. No borrower type history; no way to handle multiple borrower types at once. This is OK. This is a string in the schema, but will match the borrower types the library establishes.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="barcode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        This is the patron's primary barcode; when they walk up to the desk this is the one that works. If its status is something other than "Active" then the patron can't borrow.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="affiliations" type="affiliations" minOccurs="0" maxOccurs="1"/>
            <xs:element name="postalAddresses" type="postalAddresses" minOccurs="0" maxOccurs="3"/>
            <xs:element name="emailAddresses" type="emailAddresses" minOccurs="0" maxOccurs="3"/>
            <xs:element name="telephoneNumbers" type="telephoneNumbers" minOccurs="0" maxOccurs="3"/>
            <xs:element name="patronLevelPolicies" type="patronLevelPolicies" minOccurs="0" maxOccurs="1"/>
            <xs:element name="notes" type="notes" minOccurs="0" maxOccurs="1"/>
            <xs:element name="localIdentifications" type="localIdentifications" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Name -->
    <xs:complexType name="name">
        <xs:annotation>
            <xs:documentation>
                The patron name with free-text prefix, suffix. For entities that don't have structured names, or in cases where the name is not structured in the load, use the surname field.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="first" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="middle" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="surname" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="suffix" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Affiliations -->
    <xs:complexType name="affiliation">
        <xs:sequence>
            <xs:element name="affiliationType" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="campusCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="employments" type="employments" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="employments">
        <xs:sequence>
            <xs:element name="employment" type="employment" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Employments -->
    <xs:complexType name="employment">
        <xs:sequence>
            <xs:element name="employeeId" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="primary" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="employeeStatusCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="employeeTypeCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="baseSalaryAmount" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="primaryDepartmentCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="active" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Addresses -->
    <xs:complexType name="postalAddress">
        <xs:annotation>
            <xs:documentation>
                One address line is required; the rest is optional. Some systems can only put address data in address lines 1-4, without populating the city, state, postal, country fields. Non-USA addresses sometimes don't have state and/or postal code, so none of these are required except for the first address line.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="postalAddressType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="addressLine" type="xs:string" minOccurs="1" maxOccurs="3"/>
            <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="stateProvince" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="addressSource" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="postalCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="addressValidTo" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="addressValidFrom" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="addressVerified" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="default" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            <xs:element name="active" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            <xs:element name="deliverAddress" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="emailAddress">
        <xs:sequence>
            <xs:element name="emailAddressType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="emailSource" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="emailAddress" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="default" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            <xs:element name="active" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="telephoneNumber">
        <xs:sequence>
            <xs:element name="telephoneNumberType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="phoneSource" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="telephoneNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="extension" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="default" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            <xs:element name="active" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="postalAddresses">
        <xs:sequence>
            <xs:element name="postalAddress" type="postalAddress" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="emailAddresses">
        <xs:sequence>
            <xs:element name="emailAddress" type="emailAddress" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="telephoneNumbers">
        <xs:sequence>
            <xs:element name="telephoneNumber" type="telephoneNumber" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="affiliations">
        <xs:sequence>
            <xs:element name="affiliation" type="affiliation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Patron-level Policies -->
    <xs:complexType name="patronLevelPolicies">
        <xs:annotation>
            <xs:documentation>
                These three privileges are set for individual patrons, as well as in policies. We may have more individual-patron level policies in the future.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="isGenerallyBlocked" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            <xs:element name="generalBlockNotes" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="hasDeliveryPrivilege" type="xs:boolean" minOccurs="1" maxOccurs="1" default="false"/>
            <xs:element name="hasPagingPrivilege" type="xs:boolean" minOccurs="1" maxOccurs="1" default="false"/>
            <xs:element name="receivesCourtesyNotice" type="xs:boolean" minOccurs="1" maxOccurs="1" default="false"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Notes -->
    <xs:complexType name="note">
        <xs:sequence>
            <xs:element name="noteType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="note" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="active" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="notes">
        <xs:sequence>
            <xs:element name="note" type="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Local Identifications -->
    <xs:complexType name="localIdentification">
        <xs:sequence>
            <xs:element name="localId" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="localIdentifications">
        <xs:sequence>
            <xs:element name="localIdentification" type="localIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>